.ws-contentmaps{margin:1px 0px 0px; float:none}
#tp-cssmenu li a{filter:shadow(Color=#231F20,Direction=-45,Strength=1)}
.cbl, .cbr, .ctl, .ctr{bottom:0px; right:0px; left:0px; top:0px; width:0px; height:0px}
#ws-mainmenu{float:left;left:50%;margin-left:-345px;position:absolute;top:122px; width:700px}
div.box-c{height:0px}

body{background:#FFF; color:#1d1d1d; font-family:Helvetica,sans-serif; font-size:11px; line-height:16px; overflow-y:hidden}
/*
h4{background:#FFF; color:#8CC53F; display:block; font-weight:300; float:left; left:49px; margin:0px; padding-bottom:6px; position:absolute; top:-8px; width:450px}
h5{background:#FFF; color:#8CC53F; display:block; font-weight:300; float:left; left:49px; margin:0px; position:absolute; padding-bottom:6px; top:-8px; width:460px}
*/
.ws-print-photo{top:-8px; width:245px}
img{border:none}
.cusel{float:right}

.ws_proliskiimg{float:right; margin-left:55px; margin-right:40px; margin-top:-55px; margin-bottom:2px; position:static; display:block}
.ws_aboutimg{float:right; margin-left:20px; margin-right:10px; margin-top:-45px; position:static; display:block}
span.bottomright_box_lightgray{width:100%}
.contacthead{padding-top:2px; margin-top:0px; height:85px}
.modulemag{font-size:101%; line-height:13px; margin-top:44px}

#ws-col div.module, #ws-col div.module_menu, #ws-col div.module_text{padding-bottom:15px}
#magazine-menu{margin-top:9px; color:#666; line-height:6px}
#ws-user-left, #ws-user-right{padding-bottom:0 !important}
#ws-content-tl{padding-bottom:5px}
.ws-tablephone{height:20px}
.ws-tabletime{height:43px}

.contentheading, .componentheading, .blog_more strong, h1{line-height:28px; font-family:Helvetica,sans-serif; font-size:18pt; font-weight:bold; color:#8CC63F; margin-top:19px}
h2{line-height:1px; font-family:Helvetica; font-size:13pt; font-weight:normal; color:#666; margin-top:15px; margin-bottom:14px}
.ws-text{color:#666; line-height:10px; font-size:11px; margin:0px; padding:0px; display:inline}
ul{padding:0px}

#ws-list-about{list-style-image:url(../images/bullet-green.gif); margin-left:30px; margin-top:0px}
#ws-div-about{background-image:url(../images/ws-about-back-list.png); width:550px; height:130px; margin-top:10px}
ul.ws-list-about li{margin-top:0px}
#ws-list-about li{margin-top:1px}
#ws-podzagolovok{ margin-top:0px}

.ws-timelist{list-style:none; margin-left:-2px; margin-top:2px; margin-bottom:17px; color:#666; line-height:0px; font-size:11px}
.ws-timelist li{margin-top:15px}
#ws-vrstyle{margin-top:12px; line-height:18px}
#ws-abstyle{margin-top:12px}
#ws-logo{float:left; width:120px; margin:0; padding:0}
#ws-logo a{display:block; background:url(../images/primary/logo.png) no-repeat top left; height:54px; margin-top:29px}

.ws-usertop div.module{height:48%; margin-bottom:0; padding-bottom:12px}
#ws-lang{float:right; padding:17px 0; margin:15px 0 0 0; width:20%}
#ws-userbox ul{padding-left:24px}
#ws-usertop img{float:left}
#ws-usertop{padding-bottom:15px}
#ws-col div.module img{float:left}
.moduletablestore a {border-radius: 5px; behavior: url("http://www.ringoo.ua/templates/ws_ringoo/css/border-radius.htc");background:#98ca00;}
ul.wsp_menu .vt_desc{font:70% normal !important;color:#666;font-style:italic;opacity:0.6;filter:alpha(opacity=60);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);text-transform:none}
#ws-footerwrap{border-top:1px solid #999}
.slide-box{margin:0 auto;width:900px}
.boxgrid{margin:auto 8px}
a.more-lang{padding-top:1px}
ul.wsp_menu{left:0}
.ws-player{z-index:99999}