.inputfile input {filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.cbl {bottom:-1px; left:-7px;}
.cbr {bottom:-1px; right:-7px;}
.moduletablestore li {border-radius: 3px; behavior: url("http://www.ringoo.ua/templates/ws_ringoo/css/border-radius.htc"); background:#8cc63f;padding:2px 8px 2px 8px; margin:0 5px 7px 0}
.moduletablestore li:hover {border-radius: 3px; behavior: url("http://www.ringoo.ua/templates/ws_ringoo/css/border-radius.htc"); background: #0d0d0d;color: #999}
.moduletablestore li:active {border-radius: 3px; behavior: url("http://www.ringoo.ua/templates/ws_ringoo/css/border-radius.htc"); background: #999}
#mainlevelstore {padding:0 0 10px 0}
.moduletablestore a {background:none;border-top:none;padding:0}
.moduletablestore a:hover {background:none;border-top:none}
.moduletablestore a:active {background:none;border-top:none}
ul.wsp_menu .vt_desc{font:70% normal !important;color:#666;font-style:italic;opacity:0.6;filter:alpha(opacity=60);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);text-transform:none}

.slide-box{margin:0 auto;width:900px}
.boxgrid{margin:auto 8px}
a.more-lang{padding-top:1px}

#ws-footerwrap{border-top:1px solid #999}
#icon-widgets{background:#707070}
.ws-selector .slider-ico i{background:#eee;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#C1C1C1',GradientType=0);}
.ws-selector{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#C1C1C1',GradientType=0);behavior: url("http://www.ringoo.ua/templates/ws_ringoo/css/border-radius.htc");}
