 /* 
=================================================
# Filename : opera.css
# Description : Specific opera browser css hacks
# Author : TemplatePlazza
# Author Url : http://www.templateplazza.com
# Copyright (C) 2010 TemplatePlazza.com
# All rights reserved.
=================================================
*/
#tpblock-tpmenu span.tpsubtitle {
	margin-top:-5px;
}
#tpblock-head {
    z-index:9999999;
}
#tpblock-tpmenu {
    z-index:9999999;
}

