/*------------------------------------------------------------------------
* WS Template 1.5 - March, 2010
* ------------------------------------------------------------------------
* Copyright (C) 2008-2010 WebStyle project. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: WebStyle project
* Websites:  http://www.webstyle.pp.ua
-------------------------------------------------------------------------*/

/* COMMON STYLE
--------------------------------------------------------- */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	color: #1d1d1d;
	font-family: Helvetica;
	font-size: 11px;
	line-height: 16px;
}

body#bd {
	color: #1d1d1d;
	background: #FFFFFF;
}

body.contentpane {
	color: #1d1d1d;
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 0;
	margin: 1em 2em;
	width: auto; /* Printable Page */
}
body.fs1 {font-size: 9px;}
body.fs2 {font-size: 10px;}
body.fs3 {font-size: 11px;}
body.fs4 {font-size: 12px;}
body.fs5 {font-size: 13px;}
body.fs6 {font-size: 14px;}


/* Small text */
small, .small, .smalldark, .article-meta, .modifydate, .img_caption p, .site-slogan, a.readon {
	font-size: 92%;
}

/*article image*/
img {
	margin: 0;
	padding: 0;
}

.img_caption p {
	text-align: center;
	color: #0067e4;
}

.img_caption.left, .img_caption.right {
	margin-top: 3px;
}

.img_caption img {
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.img_caption p {
	background: url(../images/shadow-bg.gif) no-repeat right top;
	padding-top: 5px;
	margin-top: 0px;
}

.shadow img {
	padding: 1px;
	border: 1px solid #CCCCCC;	
}

.shadow {
	float: left;
	margin-right: 10px;
	padding-bottom: 3px;
	background: url(../images/shadow-bg.gif) no-repeat 99% 100%;
}

/* Heading */
h1 {font-size: 200%;}
h2 {font-size: 100%;}
h3 {font-size: 150%;}
h4 {font-size: 125%;}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	padding: 0;
}

ul {
	list-style: none;
}

ul li {
}

ol li {
	margin-left: 35px;
}

th {
	font-weight: bold;
	padding: 8px;
	text-align: left;
}

fieldset {
	border: none;
	padding: 10px 5px;

}


fieldset a {
	font-weight: bold;
}

fieldset.input {
	padding: 0;
	background: none;
}

legend {
	font-weight: bold;
	background: #FFFFFF;
}

hr {
	border: none !important;
	height: 2px !important;
	background-color: none !important;
	background: url(../images/tr-bg.gif) repeat-x top left;
}

br {}

td, th, div {
	font-size: 100%;
}

/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}

form label {
	cursor: pointer;
}

input, select, textarea, .inputbox, .button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.button {
}

* html .button { /*IE 6*/
	padding: 0 5px !important;
}

*+html .button { /*IE 7*/
	padding: 0 10px !important;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
.article_separator {
	clear: both;
	margin: 0;
}
.article_column {
	padding: 0 10px;
}
.column_separator {

	background: url(../images/dot-vert.gif) repeat-y top left;
}

/* content tables */
.sectiontableheader {
	padding: 4px 8px;
	font-weight: bold;
}

.sectiontableheader a,
.sectiontableheader a:hover,
.sectiontableheader a:active,
.sectiontableheader a:focus {
	color: #FFFFFF;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 8px;
}
td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
	padding: 4px;
}
table.contentpane {
	border: none;
	width: 100%;
}

table.contentpaneopen {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
table.contentpaneopennews {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 30%;
	float: right;
}

table.contenttoc td {
	background: url(../images/bullet.gif) no-repeat 12px 8px;
	padding: 1px 5px 1px 20px;
}

table.contenttoc th {
	border-bottom: 1px solid #CCCCCC;
	padding: 0 0 3px;
	text-indent: 5px;
}

table.poll {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

table.pollstableborder {
	border: none;
	padding: 0;
	text-align: left;
	width: 100%;
}

table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 4px !important;
	background: none;
}

table.pollstableborder tr.sectiontableentry1 td {
	background: #EEEEEE;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}

table.searchintro td {
	padding: 5px!important;
}

.blog_more {
	margin: 15px 0 0;
	padding: 10px 0 0;
	background: url(../images/dot.gif) repeat-x top;
}

.blog_more strong {
	display: block;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.blog_more ul {
	margin: 0;
	padding: 0;
}

.blog_more ul li {
	background: url(../images/bullet.gif) no-repeat 4px 8px;
	margin: 0;
	padding: 0 0 0 12px;
}

.category {
	font-weight: bold;
}

h1.componentheading, .componentheading {
	font-size: 1.5em;
	margin: 0 0 10px;
	padding: 5px 0;
}

.contentdescription {
	/*padding-bottom: 30px;*/
}

h2.contentheading, .contentheading {
	margin: 0;
	padding: 0;
	font-size: 320%;
	line-height: 31px;
	font-weight: bold;
}

table.blog .contentheading {
	font-size: 1.4em;
}
td.contentheading {
	line-height: 48px;
}
a.contentpagetitle,
a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
}

a.readon {
}

a.readon:hover, a.readon:focus, a.readon:active {
	color: #000;
	text-decoration: none;
}

table.contentpaneopen td, table.contentpane td {
}

table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
}

.moduletable {
	padding: 0;
}

ul.pagination {
	margin: 5px auto 0;
	padding: 10px 0 0;
	background: url(../images/tr-bgh.gif) repeat-x top center;
	color: #514e4e;
	overflow: hidden;
	clear: both;
}

ul.pagination li {
	background: none;
	display: inline;
	margin: 0;
	padding: 0;
}

ul.pagination li span{
	padding: 2px 5px;
}

ul.pagination a {
	padding: 2px 3px;
	text-decoration: none;
	color: #514e4e;
}

ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
	background: #d8d235;
	color: #FFFFFF;
}

.pagenavbar {
	background: url(../images/icon-pages.gif) no-repeat center left;
	font-weight: bold;
	padding-left: 14px;
}

.pagenavcounter {
	background: url(../images/icon-pages.gif) no-repeat 0 11px;
	font-weight: bold;
	padding: 8px 14px 0 14px;
}

.smalldark {
	text-align: left;
}

div.syndicate div {
	text-align: center;
}

.pollstableborder tr.sectiontableentry1 td,
.pollstableborder tr.sectiontableentry2 td {
	background: none;
}

ul.latestnews a, ul.mostread a {

}
ul.latestnews ul {
	margin: 0.8em;
}
a.latestnews {
	color: #242424;
	font-size: 1.8em;
	line-height: 24px;
}
li.latestnews {
	background: url(../images/tr-bg.gif) repeat-x center bottom;
	}
/* META
--------------------------------------------------------- */
.article-toolswrap {
	display: block;
	margin: 0 0 10px;
	padding: 0;
	position: relative;
}

.article-tools {
	display: block;
	padding: 0 10px 0 0;
}

.article-meta {
	width: 70%;
	float: left;
	color: #514e4e;
}

.createby {
}

.createdate {
	padding-right: 6px;
	margin-right: 5px;
	line-height: 24px;
}

.modifydate {
	width: 100%;
	display: block;
	color: #ff7c06;
	margin: 15px 0;
}

.article-section {
	padding-left: 6px;
	margin-left: 5px;
}

.article-section a {
	color: #514e4e;
}

.article-category a {
	color: #514e4e;
}

div.buttonheading {
	position: absolute;
	top: 4px;
	right: 10px;
}


.buttonheading img {
	margin: 0 0 0 5px;
	border: 0;
	float: right;
	background: none !important;
}




/*common style for column*/

/* MODULE
--------------------------------------------------------- */


/* MAIN NAVIGATION
--------------------------------------------------------- */

#ws-wrapper {
	width: 100%;
    margin: 0;
	padding: 0;
	background: #fff;
}
#ws-headerwrap,
#ws-containerwrap,
#ws-footerwrap {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	
}

#ws-header,
#ws-container,
#ws-footer {
	width: 900px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

/* BEGIN HEADER
-------------------------------------------------------------*/
#ws-headerwrap {
	background: url(../images/header-bg.gif) repeat-x top left;
	display: inline-block;
	height: 126px;
}
#ws-top {
	width: 100%;
	margin: 0;
	padding: 0;
}
#ws-topnav {
	float: left;
	width: 65%;
	height: 33px;
}
#ws-topnav ul {
	margin: 0;
	padding: 0;
}
#ws-topnav ul li {
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	line-height: 33px;
}
li.ws-firstitem {
	background: none !important;
}

#ws-tool {
	float: right;
	width: 12%;
	line-height: 25px;
	text-align: right;
}
#ws-tool img {
	margin-top: 8px;
}
#ws-date {
	float: left;
	width: 22.9%;
	line-height: 33px;
	color: #c0c0c0;
	text-align: right;
}
#ws-logo {
	float: left;
	width: 32.9%;
	margin: 0;
	padding: 0;
}
#ws-search {
	float: right;
	width: 66%;
}
#ws-search-inner {
	float: right;
	padding: 17px 0;
	margin: 5px 10px 0 0;
	width: 100%;
}
#ws-mainmenu {
	float: left;
	left: 50%;
    margin-left: -283px;
    position: absolute;
    top: 77px;
    width: 566px;
}

#ws-submenu {
	float: left;
	width: 100%;
}
/* Dropdown menu style */
#ws-mainmenu li ul {
	background: none !important;

}
#ws-mainmenu li ul li {
	background: #f3f4f4;
}
#ws-mainmenu li ul li a {
	color: #00539b;
}
#ws-mainmenu li ul li a span {
	color: #00539b;
}
#ws-mainmenu li ul li.last-li {
	background: url(../images/last-li-li.png) no-repeat top right !important;
	height: 10px !important;
	margin: 0 0 0 9px;
	padding: 0;
	width: 161px;
}

#ws-mainmenu li ul li.last-li span {
	background: url(../images/last-li-span.png) no-repeat top left !important;
	margin: 0 0 0 -9px;
	padding: 0;
	display: block;
}
/* END HEADER
-------------------------------------------------------------*/

/* BEGIN CONTAINER
-------------------------------------------------------------*/

/* Primary Column */
.ws-tablecenatop {
	height: 22px;
}
.ws-tablecenahead {
	height: 40px;
}
.ws-tablecenattext {
	height: 20px;
	color: #666;
	font-size: 100%;
	font-weight: normal;
	line-height: 17px;
	padding: 11px 0;
}
.ws-producttitle {
	height: 172px;
	padding: 5px 0;
	vertical-align: bottom;
}
.ws-productsubtitle {
	height: 15px;
}
.ws-productdesc {
	height: 50px;
}
#ws-tableline {
	background: url(../images/content-br.gif) repeat bottom right;
	clear: both;
	margin-bottom: 10px;
}
.ws-tablephone {
	height: 25px;
}
.ws-tabletime {
	height: 63px;
}
.ws-tablemap {
	height: 70px;
}
.ws-tablemapbottom {
	height: 65px;
}
.ws-tmbottom {
	height: 25px;
}
#ws-list{
    list-style-image: url(../images/bullet-grey.gif);
	margin-left: 13px;
}
#ws-list-green{
    list-style-image: url(../images/bullet-green.gif);
	margin-left: 13px;
}
.ws-linkmap a {
	color: #333333;
	text-decoration: underline;
	font-size: 11px;
}
.ws-linkmap a:hover, a:active, a:focus {
	color: #8CC63F;
	text-decoration: none;
	font-size: 11px;
}
.ws-timelist {
    list-style: none; 
    margin: 6px 0;
	color: #666;
	font-size: 10.5px;
}
.ws-contactlist {
    list-style: none; 
    margin: 0px;
	color: #666;
}
.ws-contact-li {
    list-style: none;
    margin-top: 17px;
	color: #666;
	font-size: 13px;
	line-height: 19px;
}
#ws-com {
    line-height: 28px;
}
#ws-contentwrap {
	float: left;
	width: 100%;
	padding-bottom: 12px;
	overflow: hidden;
}
.divlayout #ws-contentwrap {
	float: right;
}

#ws-colwrap {
	float: right;
	width: 27%;
	overflow: hidden;
}
.divlayout #ws-colwrap {
	float: left;
}

#ws-pathway {
	padding-left: 15px;
}
#ws-pathway span {
	line-height: 34px;
}
#ws-pathway img {
	margin: 1px 5px;
}
/* Style for user1 && user2 */
#ws-usertop {
	width: 100%;
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#ws-user-left {
	float: left;
	overflow: hidden;
	padding-bottom: 15px;
	margin: 0;
}
#ws-user-right {
	float: right;
	overflow: hidden;
	padding-bottom: 15px;
	margin: 0;
}
/* Style for module Slideshow */
#ws-ssc {
	padding-bottom:15px;
}
/* Style for maincontent */

#ws-content-tl {
	overflow: hidden;
}
#ws-content-br {
	background: url(../images/content-br.gif) repeat bottom right;
	clear: both;
	margin-top: 8px;
}
#ws-content-bl {
	height: 3px;
}
#ws-content-tl h3 {
	margin: 0;
	line-height: 26px;
	font-size: 12px;
	color: #1b1b1b;
}

/* Style for Featured product module */
#ws-featured {
	margin: 0;
	padding: 0;
}
#ws-featured h3 {
	margin: 0;
	line-height: 26px;
	font-size: 12px;
	color: #1b1b1b;
}
#ws-featured table {
	margin: 0;
	padding: 0;
}
#ws-featured tr {
	background: url(../images/tr-bg.gif) repeat-x bottom center;
}
#ws-featured td {
	margin: 0;
	padding: 15px 0;
}

/* Style for Virtuemart content */
#vmMainPage h2,
#vmMainPage h3 {
	margin: 0;
	line-height: 31px;
	
}
#vmMainPage h2 {
	font-size: 165%;
}
.shop_info, .shop_tip {
	margin-top: 35px;
}
.previous_page,
.next_page {
	line-height: 31px !important;
}
div.ws-product-wrap {
	background: url(../images/tr-bgh.gif) repeat-x top center;
	overflow: hidden;
	padding: 8px 0;
}
div.ws-ProductStyle {
	background: url(../images/tr-bgv.gif) repeat-y left center;
	padding-left: 5px;
}
.ws-browse .addtocart_button {
	display: block;
	margin: 5px 0 0;
}
td.ws-psdetail .button {
	background: none;
	color: #0067E4;
}
td.ws-psdetail .button:hover {
	text-decoration: underline;
}
.ws-button {
	line-height: 24px;
	font-weight: bold;
}
/* Style for ws-userbox */
#ws-userbox {
	margin: 0;
	padding: 0 0 15px;
	clear: both;
}
#ws-box-cr {
	background: url(../images/content-cr.gif) repeat-y center right;
}
#ws-box-cl {
	background: url(../images/content-cl.gif) repeat-y center left;
}
#ws-box-tr {
	background: url(../images/content-tr.gif) no-repeat top right;
}
#ws-box-tl {
	background: url(../images/content-tl.gif) no-repeat top left;
	overflow: hidden;
}
#ws-box-br {
	background: url(../images/content-br.gif) no-repeat bottom right;
	clear: both;
}
#ws-box-bl {
	background: url(../images/content-bl.gif) no-repeat bottom left;
	height: 10px;
}
.ws-userbox {
	float: left;
	margin-bottom: -10px;
}
.ws-userbox h3 {
	margin: 0;
	padding-left: 28px;
	line-height: 28px;
	font-size: 12px;
	font-weight: bold;
	color: #1b1b1b;
}
#ws-box5 {
	background: url(../images/line-user.gif) no-repeat top right;
}
#ws-box6 {
	background: url(../images/line-user.gif) no-repeat top right;
}
#ws-box5-b {
	background: none;
}
#ws-box6-b {
	background: none;
}
/* Style for ws-slideshow */

#ws-slideshow {
	width: 900px;
	margin: 0;
	padding: 0 0 15px;
	clear: both;
}
#ws-slide-tl {
	overflow: hidden;
	padding: 0 0 15px;
}
#ws-slide-br {
	clear: both;
}
#ws-slide-bl {
	height: 10px;
}
#ws-slide-tl div.moduletable h3 {
	margin: 0;
	}
#ws-slide-tl div.moduletable h3 span {
	color:#1B1B1B;
	font-size:12px;
	font-weight:bold;
	line-height: 28px;
}
/* Style for Left collumn */


/* END CONTAINER
-------------------------------------------------------------*/

/* BEGIN FOOTER 
----------------------------------------------*/
#ws-footerwrap {
	min-height: 40px;
	display: inline-block;
}
#ws-footer {
	padding-top: 2px;
}
#ws-footer p {
	text-align: center;
	padding-top: 2em;
	clear: both;
}
#ws-footer-menu {
	float: left;
	width: 100%;
}
.ws-footer-menu {
	margin: 0; 
	padding: 0;
}
/* END FOOTER 
----------------------------------------------*/

/* Clearfix */
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	display: block;
	width: 100%;
}

* html .clearfix {
	height: 1%;
}
/* Other */
