/*------------------------------------------------------------------------
* WS Template ringoo 1.5 - Feb, 2010
* ------------------------------------------------------------------------
* Copyright (C) 2008-2011 WebStyle project. All Rights Reserved.
* @license - Copyrighted Commercial Software* Author:WebStyle project
* Websites:http://www.webstyle.pp.ua
-------------------------------------------------------------------------*/
/* add new */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700&subset=latin,cyrillic-ext);
.credit table{font-family:"Roboto"}
.credit td, .credit th{font-size:11px;font-weight:normal}
.view-ringoocitymap #ws-container{width:100% !important}
/* social */
.social-likes{display:block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0;float:right}
.social-likes > div{font-family:Arial;display:inline-block;vertical-align:top;margin-left:15px;margin-bottom:10px}
.social-likes__counter{background:#FFF;border:1px solid #DBDBDB;border-radius:5px;padding:0px 10px;height:21px;line-height:21px;font-size:12px;color:#343434;display:inline-block;position:relative;top:0px;margin-left:5px}
.social-likes__button{background:url(../images/ws-all-sprite-icon.png) no-repeat 0 0 transparent;text-indent:-9999px;color:#F5F6F9;font-size:12px;cursor:pointer;line-height:26px;height:26px;width:26px;position:relative;display:inline-block;vertical-align:top;transition:all 0.2s ease 0s;padding:0}
.social-likes__button_facebook{background-position:0 -158px}
.social-likes__button_twitter{background-position:-55px -158px}
.social-likes__button_plusone{background-position:-82px -158px}
.social-likes__button_vkontakte{background-position:-28px -158px}
/* end social */
/* iphone page */
.iphone,.form-order{font-family:'Roboto', sans-serif !important;font-weight:400}
.iphone h1{font-size:28px;font-weight:300;color:#404040}
.iphone > .wsdiv{border-top:1px solid #e8e8e8;width:100%;min-height:60px}
.iphone > .wsdiv p{font-size:14px;font-weight:400}

.firstcolumn, .twocolumn,.threecolumn{float:left;min-height:40px;-webkit-box-sizing:border-box;box-sizing:border-box}
.iphone .firstcolumn{width:160px;font-size:14px;font-weight:400;padding-top:12px}
.iphone .twocolumn{width:370px;border-right:1px solid #e8e8e8}
.iphone .threecolumn{width:370px}
.iphone .twocolumn,.iphone .threecolumn{padding:0 29px}

.iphone .headers{border-top:1px solid #e8e8e8;width:100%;min-height:60px;text-align:center;height:55px;padding-top:9px;-webkit-box-sizing:border-box;box-sizing:border-box}
.headers.sticky{background:#fff;border-bottom:1px solid #e8e8e8;position:fixed;top:0;-webkit-transition:all 0.4s ease;transition:all 0.4s ease;z-index:99;width:100%}
.iphone .headers .twocolumn,.iphone .footbuttons .twocolumn{border-right:none;margin-bottom:none}      
.iphone .footbuttons{border-top:1px solid #e8e8e8;width:100%;min-height:60px;text-align:center;height:55px;padding-top:15px;-webkit-box-sizing:border-box;box-sizing:border-box}
.iphone .smart{min-height:320px;padding-top:30px}
.iphone .smart .firstcolumn{padding-top:0}
.iphone .smart .telephone{width:115px;float:left;margin:0 28px 0 0;height:300px;overflow:hidden}
.iphone .smart .telephone a{position:relative;float:left}
.iphone .smart .telephone a span{display:none;background-image:url(../images/zoom.png);background-repeat:no-repeat;width:65px;height:65px;position:absolute;left:25px;top:90px}
.iphone .smart .w168{width:168px;float:right}
.iphone .smart span{font-size:14px;font-weight:400}
.iphone .smart small{font-size:12px;font-weight:400}
.iphone .smart br{line-height:14px}
.iphone .delivery{height:45px}
.iphone .price{height:45px;font-size:18px;font-weight:700}
.iphone .creditprice{height:72px;font-size:20px;font-weight:700}
.iphone .creditprice span, .iphone .creditprice small{display:block}
.iphone .creditprice span{margin-bottom:10px}.iphone .creditprice small{margin-top:10px}
.iphone .wsbutton{height:40px;margin-top:30px}
.iphone .servicepack{height:45px}
.iphone .desc{min-height:470px;text-align:justify}
.iphone .sizeweight{height:130px}
.iphone .processor{height:200px}
.iphone .processor img{float:left;margin:0 20px 20px 0}
.iphone .os{height:70px}
.iphone .ram{height:55px}
.iphone .memory{height:110px}
.iphone .battery{height:55px}
.iphone .enter{height:150px}
.iphone .display{height:150px}
.iphone .camera{height:170px}
.iphone .frontcamera{height:90px}
.iphone .interfaces{height:130px}
.iphone .sar{height:55px}
.iphone .other{height:130px}

.ibutton{text-shadow:1px 1px 1px rgba(35,31,32,0.49);text-align:center;padding:3px 0 0;font:15px "Roboto",sans-serif;color:#FFF;background:url(../images/ibutton.png) no-repeat scroll 0px 0px transparent;width:141px;height:27px;display:block}
.ibutton:hover{color:#fff;background-position:0 -30px}
.ibutton:active{color:#fff;background-position:0 -60px}

.form-order{background:#fff;color:#414141;height:475px;width:100%;padding:25px 35px;box-sizing:border-box;-webkit-box-sizing:border-box}
.form-order .telephone{float:right;margin-right:35px}
.form-order .headersmalltext{margin-bottom:25px;color:#e8e8e8}
.form-order .headersmalltext > div:first-child{width:190px;float:left}
.form-order .headersmalltext #result{float:right;width:500px;height:20px;text-align:right}
.form-order .headersmalltext #result .danger{color:red}
.form-order .headersmalltext #result .alert-success{color:green}
.form-order .phoneblock{float:left;height:380px;width:500px}
.form-order .headerimg{height:38px;width:100%}
.form-order .headerimg img{margin:-7px 0 0 -6px}
.form-order .settings{height:160px;width:100%;padding-top:3px}.form-order .settings img{float:right}
.form-order .sendform{height:152px;width:100%}
.form-order .sendbutton{height:28px;width:100%}
.form-order .sendbutton .ibutton{cursor:pointer;float:right;}
.form-order .memory, .form-order .color, .form-order .pricewrap{height:40px;overflow:hidden;width:100%}
.form-order .memory{border-top:1px solid #E8E8E8}
.form-order .color{border-bottom:1px solid #e8e8e8;margin-bottom:10px}
.form-order .pricewrap{padding-top:20px}
.form-order .pricetext{float:left;width:50%}
.form-order .price{float:right;width:50%;text-align:right;font-size:22px;font-weight:700 }
.form-order .checkcredit{font-size:15.8px;text-align:right}
.form-order .checkcredit label{margin-left:8px}
.form-order .leftf{width:305px;float:left;text-align:right }
.form-order .rightf{width:190px;float:right }
.form-order .rightf > div{margin-left:45px}
.form-order .servicepack{font-size:14px;font-weight:600;margin-top:15px;margin-bottom:28px}
.form-order .servicepack img{margin-left:-25px;margin-right:7px}
.form-order .servicepack small, .form-order .delivery{font-size:12px;font-weight:400}
.form-order .leftf input,.form-order .leftf select{float:right;border-radius:5px;border:1px solid #404040;padding:2px 6px}
.form-order .leftf input{width:156px}
.form-order .leftf select{width:170px}
.form-order .leftf label{margin-right:15px}
.form-order .leftf p{margin-bottom:23px}
.success-order{background:#fff;height:475px;width:100%;text-align:center;padding-top:200px;box-sizing:border-box;-webkit-box-sizing:border-box}
.success-order h2{font-weight:bold;line-height:24px}
.item-457 img{margin:-5px 5px 0 -12px}
.error{border:1px solid #f00 !important}
.form-order input:focus,.form-order select:focus{box-shadow:0 0 4px 0 #8cc53f;border:1px solid #8cc53f}
/* end iphone page */

/*-----------------*/
.technology{cursor:hand;cursor:pointer;font-size:14px;display:block;margin:1px 0}
.technology div{padding:6px 10px 6px 26px}
.openlanguage div{display:block;background:transparent url(../images/down.gif) no-repeat left center}
.closedlanguage div{display:block;background:transparent url(../images/up.gif) no-repeat left center}

blockquote:after{background-position:50% 0px;top:100%;margin-top:-13px}
blockquote:before{background-position:50% -21px;top:-6px}
blockquote:before, blockquote:after{content:"";position:absolute;left:50%;z-index:3;width:40px;margin-left:-20px;height:20px;line-height:20px;text-align:center;font-family:Arial,Helvetica,sans-serif;font-size:60px;font-weight:bold;color:#F60;background-color:#FFF;background-image:url(../images/quotes.png);background-repeat:no-repeat}
blockquote{position:relative;margin:40px 0px;padding:30px;line-height:30px;font-size:24px;font-style:italic;font-weight:normal;color:#233340;border-top:2px solid #8cc53f;border-bottom:2px solid #8cc53f}

.ei-slider{position:relative;width:900px;height:400px;margin:0 auto 70px}
.ei-slider-loading{width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:999;color:#8cc53f;text-align:center;line-height:400px}
.ei-slider-large{height:100%;width:100%;position:relative;overflow:hidden}
.ei-slider-large li{position:absolute;top:0px;left:0px;overflow:hidden;height:100%;width:100%}
.ei-slider-large li img{right:240px;position:relative;float:right;top:40px}
.ei-slider-large li:before{background:url(../images/spshadow.png) no-repeat 0 0 transparent;content:'';position:absolute;width:234px;height:33px;display:block;right:213px;bottom:11px}
.ei-title{position:absolute;left:100px;top:40px;width:280px;font-family:'helvetica', sans-serif;font-style:italic;text-transform:uppercase}
.ei-title div{width:280px}

.ei-title .sptitle{font-size:26px;color:#000;height:75px;display:table-cell;vertical-align:bottom;line-height:28px}
.ei-title .spprice{font-size:95px;color:#ed1b24;height:140px;margin-top:20px}
.ei-title .spprice b span{font-size:38px;margin-left:10px}
.ei-title .spoldprice{font-size:50px;color:#555;height:80px;text-align:right}
.ei-title .spoldprice b:before{background:url(../images/spoldx.png) no-repeat -10px 7px transparent;content:'';position:absolute;width:144px;height:46px}
.ei-title .spoldprice span{font-weight:300;font-size:12px;color:#555;display:block}
.ei-title .spprice, .ei-title .spoldprice{font-weight:bold;line-height:normal}

.ei-slider .spbird1{background:url(../images/spbird1.png) no-repeat scroll 0 0 transparent;position:absolute;width:320px;height:261px;right:37px;z-index:9;top:50px}
.ei-slider .spbird2{background:url(../images/spbird2.png) no-repeat scroll 0 0 transparent;position:absolute;width:152px;height:133px;right:380px;top:90px}
.ei-slider .spbird3{background:url(../images/spbird3.png) no-repeat scroll 0 0 transparent;position:absolute;width:112px;height:108px;right:145px;top:25px}

.ei-slider .spbird1.ua{background:url(../images/spbird1-ua.png) no-repeat scroll 0 0 transparent}
.ei-slider .spbird2.ua{background:url(../images/spbird2-ua.png) no-repeat scroll 0 0 transparent}
.ei-slider .spbird3.ua{background:url(../images/spbird3-ua.png) no-repeat scroll 0 0 transparent}

.ei-slider-thumbs{height:10px;margin:0 auto;position:relative}
.ei-slider-thumbs li{position:relative;float:left;height:100%}
.ei-slider-thumbs li.ei-slider-element{top:0px;left:0px;position:absolute;height:100%;z-index:10;text-indent:-9000px;background:#000;background:rgba(0,0,0,0.9)}
.ei-slider-thumbs li a{display:block;text-indent:-9000px;background:#999;width:100%;height:100%;cursor:pointer;
	-webkit-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow:0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 1px rgba(255,255,255,0.5);-webkit-transition:background 0.2s ease;-moz-transition:background 0.2s ease;-o-transition:background 0.2s ease;-ms-transition:background 0.2s ease;transition:background 0.2s ease}
.ei-slider-thumbs li a:hover{background-color:#f0f0f0}
@media screen and (max-width:830px){
	.ei-title{position:absolute;right:0px;margin-right:0px;width:100%;text-align:center;top:auto;bottom:10px;background:#fff;background:rgba(255,255,255,0.9);padding:5px 0}
}

.spobertka .phonecontainer:nth-child(3n+2){margin:0 22px 26px}
.spobertka .phonecontainer{background:url(../images/spphnshadow.png) no-repeat scroll -12px 260px transparent;height:370px;float:left;width:285px;font-family:'Roboto', sans-serif;margin-bottom:26px}
.spobertka .phonecontainer img{max-height:260px;float:left;max-width:150px}
.spobertka .phonecontainer div{float:right}
.spobertka span{font-size:13px;font-weight:300;color:#000;line-height:33px;display:block}
.spobertka h3{font-weight:700;color:#000;line-height:20px;height:35px;margin:28px 0 0}
.spobertka .price, .spobertka .oldprice{font-style:italic;font-weight:700;width:135px;height:50px;line-height:30px;box-sizing:border-box}
.spobertka .price{font-size:48px;color:#ed2027;margin-top:44px}
.spobertka .oldprice{font-size:25px;color:#000;padding:30px 0 0 25px}
.spobertka .oldprice p{text-decoration:line-through;line-height:25px;margin:0}
.spobertka .oldprice span{line-height:18px}
.spobertka .description{font-weight:300;color:#555;margin-top:25px;height:83px;overflow:hidden}



/*-----------------------*/

.alert{border:1px solid rgba(0, 0, 0, 0);border-radius:4px;margin-bottom:22px;padding:15px}
.alert-success{background-color:#DFF0D8;border-color:#D6E9C6;color:#468847}
.hideCont{display:none;margin-top:15px}
.hideWrap a.hideBtn{font:18px/22px bold Helvetica, sans-serif;border-bottom:2px dashed #8cc53f}
.ws-copyleft .h4, .ws-copyleft .phone-footer{color:#fff}
.ws-copyleft .h4{display:block;font-size:18.5px;font-weight:bold;margin:0 0 15px}
.ws-copyleft .phone-footer{font-size:30px;height:30px;line-height:30px}


.phone{color:#999;float:right;font-size:22px;height:30px;margin:29px 0 0;width:200px}
#page{display:inline-block;margin:0 0 20px 0;width:900px}
/* ws coolimg*/
.wrap{width:900px;margin:0 auto;padding:0 11px}

.bpromo{margin:15px 0 5px;clear:both;height:122px;position:relative}
.bpromo div{left:-1px;position:absolute;top:0}
.bpromo div+div{left:305px}
.bpromo div+div+div{left:615px}
.bpromo .sh-in{display:block;width:285px;height:95px;overflow:hidden}
.bpromo .sh-in .img{position:absolute;top:0;left:0}
.bpromo .sh-in .img-wide{position:absolute;top:0;left:0;display:none}

.b-promo{margin:15px 0 5px;clear:both;height:122px;position:relative}
.b-promo .promo-left{position:absolute;left:-1px;top:0}
.b-promo .promo-center{position:absolute;top:0;left:305px}
.b-promo .promo-right{left:615px;top:0;position:absolute}
.b-promo .sh-in{display:block;width:285px;height:95px;overflow:hidden}
.b-promo .sh-in .img{position:absolute;top:0;left:0}
.b-promo .sh-in .img-wide{position:absolute;top:0;left:0;display:none}
.shadow-box{position:relative;float:left;margin:10px 5px}
.dt-news .shadow-box{margin:15px 25px 10px 5px}
.dt-actions .shadow-box{margin:15px 25px 10px 5px}
.shadow-box *{outline:0}
.shadow-box .sh-in{border-radius:4px;box-shadow:0 0 4px 0 #888;display:block;position:relative;z-index:10;top:-4px;left:-4px;margin:0 -8px -8px 0}
.shadow-box .l, .shadow-box .r{height:100%;position:absolute;top:0;width:10px;z-index:20}
.shadow-box .l{background:url(../images/sh-l.png) repeat-y scroll 0 0 transparent;left:-10px}
.shadow-box .r{background:url(../images/sh-r.png) repeat-y scroll 100% 0 transparent;right:-10px}
.shadow-box .sh-t, .shadow-box .sh-b, .shadow-box .sh-tr, .shadow-box .sh-br{font-size:0;height:10px;line-height:0;position:absolute;z-index:20}
.shadow-box .sh-t{background:url(../images/sh-t.png) no-repeat scroll 0 0 transparent;left:-10px;top:-10px;width:100%}
.shadow-box .sh-b{background:url(../images/sh-b.png) no-repeat scroll 0 0 transparent;left:-10px;top:100%;width:100%}
.shadow-box .sh-tr{background:url(../images/sh-t.png) no-repeat scroll 100% 0 transparent;right:-10px;top:-10px;width:20px}
.shadow-box .sh-br{background:url(../images/sh-b.png) no-repeat scroll 100% 0 transparent;right:-10px;top:100%;width:20px}
/* end ws cool img */

.blog.newphone img{float:left;margin:0 10px 5px 0}

/* map visual */
ymaps a.zoombox{cursor:pointer}
.ymaps-b-balloon__content ymaps{height:auto !important}
.wsdescl{width:200px}
.ws-conv{position:relative;z-index:3;overflow:hidden;margin-bottom:-46px;min-height:600px;zoom:1;top:-26px}
.ws-conv:after{background:url(../images/bg-shadow.png) no-repeat scroll center bottom transparent;content:"";display:block;height:23px;margin:0 auto;width:980px}

#wslists{width:900px;opacity:0}
#wsmaps{position:relative;z-index:2;width:100%;height:600px}
#wsmaps .a{display:block;height:600px;width:100%;background-repeat:no-repeat;background-position:50% 50%;position:absolute}

.ws-selector .slider-ico{background:#9A9A9A;height:15px;width:40px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.57) inset;position:relative;vertical-align:bottom;border-radius:3px;display:inline-block;cursor:pointer}
.ws-selector .slider-ico i{height:13px;width:11px;top:1px;left:1px;position:absolute;transition:left 0.2s ease 0s;background:-moz-linear-gradient(center top , #FFFFFF 10%, #C1C1C1 100%);background:-webkit-linear-gradient(center top , #FFFFFF 10%, #C1C1C1 100%);background:-o-linear-gradient(center top , #FFFFFF 10%, #C1C1C1 100%);background:linear-gradient(center top , #FFFFFF 10%, #C1C1C1 100%);border-radius:2px;box-shadow:0 0 3px rgba(0, 0, 0, 0.57)}
.ws-selector{height:20px;background:-moz-linear-gradient(center top , #FFFFFF 10%, #C1C1C1 100%);background:-webkit-linear-gradient(center top , #FFFFFF 10%, #C1C1C1 100%);background:-o-linear-gradient(center top , #FFFFFF 10%, #C1C1C1 100%);background:linear-gradient(center top , #FFFFFF 10%, #C1C1C1 100%);border-radius:2px;box-shadow:0 0 1px rgba(0, 0, 0, 0.77);padding:4px 5px 0}
.ws-selector{position:absolute;z-index:3;right:5px;font-size:15px;line-height:16px;top:30px}
.ws-selector span{color:#222;padding:1px 4px}
.hidemaps .ws-selector .slider-ico i{right:0}
.visual-list{position:absolute;top:-9999px;left:-9999px;padding:0;margin:30px auto 0;-moz-transition:visibility 3s 1s ease;-o-transition:visibility 3s 1s ease;-webkit-transition:visibility 3s 1s ease}
.hidemaps .visual-maps{display:none}
.hidemaps .visual-list{position:relative;top:auto;left:auto}


/*filter*/
#wslists #shops{width:900px}
#wslists table, #wslists td, #wslists th{border:solid 1px silver;color:#666;padding:5px 8px;font-size:8pt}
#wslists table{border-collapse:collapse}
#wslists table tr{background-color:#eee}
#wslists table td, #wslists table th{border:1px solid #fff}
#wslists th{background:#8cc53f;color:#fff;font-size:0.85em}
#wslists tr:first-child th:first-child{border-radius:4px 0 0}
#wslists tr:first-child th:last-child{border-radius:0 4px 0 0}
#wslists tbody tr:hover td{background:#b3d980}
#wslists td{background:#e2f0ce;border-top:1px solid #FFF;color:#666699}
#wslists .filters input{border-radius:2px;border:1px solid #ccc;padding:4px 2px}
#wslists input:focus{box-shadow:0 0 4px 0 #8cc53f;border:1px solid #8cc53f}
#wslists #quickfind{border:1px solid #CCC;border-radius:2px;margin:-1px 0 15px 13px;padding:4px 2px;width:671px}

#jqtf_filters{list-style:none}
#jqtf_filters li{display:inline-block;position:relative;float:left;margin-bottom:20px}
/*end filter*/
/* -- / map visual --*/

#RUAFRAME{height:1200px !important}
#map a.zoombox img{float:right;margin:0 0 10px 10px}

.ymaps-map{background:url(../images/index.gif) repeat scroll 0 0 transparent !important}
.panel{position:absolute;left:0;display:none;background:#f2f2f2;border:1px solid #ccc;
width:230px;height:578px;padding:10px;filter:alpha(opacity=85);opacity:.85;z-index:9}
.panel p{margin:0 0 15px 0;color:#ccc}
.panel a, .panel a:visited{color:#9FC54E;text-decoration:none;border-bottom:1px solid #9FC54E}
.panel a:hover, .panel a:visited:hover{color:#fff;text-decoration:none;border-bottom:1px solid #666}
a.trigger{position:absolute;text-decoration:none;left:0;font-size:16px;letter-spacing:-1px;font-family:Helvetica, sans-serif;color:#fff;padding:15px;font-weight:700;background:#f3f3f3;border:1px solid #ccc;display:block;z-index:9}
a.active.trigger,a.trigger:hover{background:#f1f1f1}

.rounded-corner{border-collapse:collapse;font-size:12px;margin:20px 0;text-align:left;width:100%}
.rounded-corner td{background:#e2f0ce;border-top:1px solid #FFF;color:#666699;padding:8px}
.rounded-corner tbody tr:hover td{background:#b3d980}
.rounded-corner th{background:#8cc53f;color:#222;font-size:13px;font-weight:normal;padding:8px}
.rounded-corner tr:first-child th:first-child{border-radius:10px 0 0}
.rounded-corner tr:first-child th:last-child{border-radius:0 10px 0 0}
.rounded-corner td+td, .rounded-corner th{text-align:center}

.rounded-corner.grey th{background:#f4f4f4;color:#000}
.rounded-corner.grey td{background:#fff;border-bottom:1px solid #e5e5e5;color:#404040;}
.rounded-corner.grey tbody tr:hover td{background:#f5f5f5}

.ws-body-info{margin:15px 10px}
.ws-body-info ul li{background:url(../images/ws-sert.png) no-repeat scroll 0 0 transparent;border:1px solid #8CC53F;float:left;width:150px;height:101px;margin:0 8px 0 0}
.ws-body-info ul li.samsung{background-position:0 0}
.ws-body-info ul li.nokia{background-position:0 -104px}
.ws-body-info ul li.lg{background-position:0 -207px}
.ws-ringoo-this li{background:#8cc53f;border:2px solid #fff;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;display:inline-block;width:290px;height:80px;border-radius:150px 0 150px 0;box-shadow:0 0 5px #666;text-align:center}
.ws-ringoo-this li:first-child{margin:0}
.ws-ringoo-this li+li{margin:0 0 0 12px}
.ws-ringoo-this li > b{font:45px/55px bold Helvetica,sans-serif}
.ws-ul-about{float:left;margin:0;text-align:justify;width:440px}
.ws-ul-about + .ws-ul-about{margin:0 0 0 20px}
.ws-ul-about li{margin:0 0 15px}
.ws-wrap-catalog{width:900px;display:block;height:270px;margin:0 0 10px 0}
.ws-wrap-catalog > div{border:1px solid #CCC;border-radius:5px;box-shadow:0 0 5px #CCC;float:left;height:250px;margin:5px;padding:4px;width:160px}
.ws-item-title{height:45px;text-align:center}
.ws-price{color:#8CC53F;font:20px/20px bold helvetica,sans-serif;margin:0 auto;width:80px}
.kupidon{background:url(../images/kupidon.png) no-repeat scroll 0 0 transparent;height:60px;margin:13px 0 0 -28px;position:absolute;text-indent:-9999px;width:260px}
.ws-green span{display:block;font-style:italic;padding:0 0 0 32px}
.ws-green strong{color:#8cc53f}
#ws-tool{float:right;padding:0;width:750px}
#ws-contact{height:77px}
#ws-contact a{}
.menu-home{float:right;height:16px;margin:0;padding:30px 100px 0 0;width:16px}
.menu-home a, .menu-home .nolink{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -36px transparent;display:block;text-indent:-99999px}
.menu-home a:hover, .menu-home .nolink:hover{background-position:0 -52px}
#ws-home2 .ws_art .ws_image{background:#FFFFFF;border:1px solid #E8E8E8;padding:5px}
#ws-home2 .ws_art a.tleft{background:url(../images/bg_featured_shadow.png) no-repeat scroll center bottom transparent;display:block;height:151px;width:270px}
ul.wsp_menu > li{height:36px}
.item161 .cols3 > .wsdrop-main{margin:8px 0 0 -410px !important}
.item161 .cols3 > div.wsdrop-main:before{background:url(../images/ws-menu-sprite.png) no-repeat scroll 423px 0 transparent !important;width:445px !important}
.ws-fb-iframe{margin:0 auto;width:800px}
.ws-nspisok li{margin:0 0 0 20px}
/* fb popup*/
#facebook-win{background:none repeat scroll 0 0 #FFFFFF;box-shadow:0 3px 8px rgba(0, 0, 0, 0.2);font-size:12px;line-height:16px;padding:0 10px 0 15px;width:370px;z-index:999999;position:relative}
#facebook-win .title{background:url(../images/fb-win.png) repeat-x scroll 0 100% #3A5897;color:#FFFFFF;font-size:18px;line-height:22px;margin:0 -10px -24px -15px;padding:11px 19px 44px 21px}
#facebook-win .close{background:url(../images/fb-close.png) repeat scroll 0 0 transparent;cursor:pointer;float:right;height:19px;margin-top:6px;width:19px}
#facebook-win p{border-top:1px solid #9DACCB;margin:7px -19px 0 -21px;padding:12px 66px 0 22px}
#facebook-win .fb-like{margin:0 0 17px}
#facebook-win .for-login{background:none repeat scroll 0 0 #DEDEDD;margin:0 -10px 0 -15px;padding:12px 19px 15px}   
/* end fb popup*/
/* ws HR map*/
.ws-hrmap{margin:0 auto}
.preloader{background:url(../images/loader.gif) no-repeat center #fff}
.designation{float:right;font-style:italic;position:relative;text-align:right;top:0;width:225px}
.designation ul{margin:0}
.designation li{margin:4px 0 0 0}
.designation li:after{clear:both;content:"";display:block;float:right;height:17px;margin:0 0 0 10px;width:16px}
.designation li:after, .ws-mark{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -89px transparent}
.designation li+li:after, .ws-no-mark{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -70px transparent}
.ws-mark, .ws-no-mark{display:block;text-indent:-9999px;width:16px;height:17px;outline:none;cursor:pointer}
.popup{background:#2a2a2a;border-radius:5px;box-shadow:2px 2px 3px 2px #888;width:300px;position:absolute;padding:8px;color:#fff;font-weight:bold;font-size:11px;line-height:20px}
.popup a{cursor:pointer}
.popup h3{margin:0;margin-bottom:10px;font-family:'Cabin Condensed', sans-serif;font-weight:normal;font-size:20px}
.popup .close{display:block;text-indent:-9999px;position:absolute;top:4px;right:4px;width:16px;height:16px;outline:none;background:url(../images/ws-all-sprite-icon.png) no-repeat scroll -21px -53px transparent;cursor:pointer}
.relative{position:relative}
.controls{position:absolute;top:9px;left:0;z-index:20}
.controls a{background:#2a2a2a;background:rgba(0, 0, 0, .6);display:block;float:left;clear:both;color:#FFF;font-size:11px;font-weight:bold;line-height:28px;margin-bottom:4px;outline:none;padding:0 15px;text-decoration:none}
.controls a:hover{background:#eee;color:#2a2a2a}
.controls a:active{color:#fff}
.controls .active{background:#8cc53f;color:#fff}
.ws-hrphone:before, .ws-vacancy:before, .ws-send-resume:before{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 0 transparent;content:"";height:15px;padding:0 0 2px 20px;margin:0 8px 0 0;position:relative;top:-2px;width:15px}
.ws-hrphone:before{background-position:-18px -20px;top:-1px}
.ws-vacancy:before{background-position:-18px -2px}
.ws-send-resume:before{background-position:-18px -36px}
/* end ws HR map*/
/*social*/
#ws-footerwrap{background:#8cc53f;min-height:250px;display:inline-block;margin:0 0 -3px !important;-webkit-box-shadow:0 5px 8px -6px black inset;-moz-box-shadow:0 5px 8px -6px black inset;box-shadow:0 5px 8px -6px black inset}
.ws-footer-menu, .ws-footer-help{float:left;font-size:10pt;color:#fff}
.ws-footer-help ul{width:185px;margin:0 15px 28px 0}
.ws-footer-menu div{float:left;margin:0 15px 0 0}
.ws-footer-menu .h4, .ws-footer-help .h4{display:block;font-size:130%;font-weight:bold;margin:16px -1px 9px}
.ws-footer-menu ul{float:left;margin:0 10px 0 0;width:170px}
.ws-footer-menu ul li, .ws-footer-help ul li{line-height:135%}
.ws-footer-menu ul ul{padding-top:0;width:132px}
.ws-footer-menu ul li a, .ws-footer-help ul li a{color:#f7ffed;top:8px}
.ws-footer-menu ul li a:hover, .ws-footer-menu ul li a:active, .ws-footer-menu ul li a:focus,
.ws-footer-help ul li a:hover, .ws-footer-help ul li a:active, .ws-footer-help ul li a:focus{color:#fff;text-decoration:underline}
#ws-footer p{clear:both;color:#FFFFFF;font-size:13px;font-weight:600;margin:17px 0 11px}
.ws-copyleft, .ws-socials{float:right;font-size:8pt;width:300px;text-align:right;margin:15px 0 0 0}
.ws-copyleft a{color:#fff}
.ws-copyleft a:hover{color:#999}
.socialtips{background:url(../images/ws-all-sprite-icon.png) no-repeat;display:block;float:right;width:32px;height:32px;margin:0 0 0 10px}
.fb{background-position:-97px -64px}
.fb:hover{background-position:-130px -64px}
.vk{background-position:-97px -96px}
.vk:hover{background-position:-130px -96px}
.twit{background-position:-97px -32px}
.twit:hover{background-position:-130px -32px}
.yt{background-position:-97px 0}
.yt:hover{background-position:-130px 0}
/*end social*/
/*tabs*/
#tabs, #itabs{font-size:90%}
.wsultab{float:left;background:#fff;margin:0;padding-top:4px}
.wsultab li{margin:0 2px 0 0;list-style:none}
* html .wsultab li{display:inline}
.wsultab li, .wsultab li a{float:left}
.wsultab li, .wsultab li a{background:#f4f4f4;border-radius:5px 5px 0 0}
.wsultab li.tabs-selected, .wsultab li a:hover{background:#8CC53F;color:#fff}
.wsultab li.tabs-selected a{background:none transparent;color:#fff;cursor:default}
.wstab{border-top:2px solid #8CC53F;clear:both;min-height:200px}
.ws-sample-tab div .h2{color:#8cc53f;font-size:13pt;font-weight:bold;margin:10px 0 0;display:inline-block}
div p{line-height:150%}
.wsultab li a{text-decoration:none;padding:8px 15px;color:#707070;font-weight:bold}
.tabs-hide{display:none}
.thumbs{float:left;border:#000 solid 1px;margin-bottom:20px;margin-right:20px}
/*end tabs*/
@font-face{
font-family:'SignifyLite';
src:url('../font/signifylite-webfont.eot');
src:url('../font/signifylite-webfont.eot?#iefix') format('embedded-opentype'), 
url('../font/signifylite-webfont.woff') format('woff'),
url('../font/signifylite-webfont.ttf') format('truetype'),
url('../font/signifylite-webfont.svg#SignifyLite') format('svg');
font-style:normal}
.pravila, .pravila li{float:left}
.pravila li{margin:0 5px 0 0}
.icon{font-family:'SignifyLite';font-weight:100;font-size:16px;margin:0px 0px 0px 0px;padding:0px 8px 0px 0px;line-height:26px;height:32px;display:inline-block;float:left;border-right:1px solid rgba(0,0,0,0.2)}
.label{display:inline-block;font-weight:500;height:32px;line-height:32px;float:left;border-left:1px solid rgba(255,255,255, 0.2);padding:0px 5px 0px 10px}
.ws_mp_mode1-news .icon{height:24px;line-height:18px}
.ws_mp_mode1-news .label{height:24px;line-height:23px}
.regular{display:inline-block;font-weight:500;height:32px;line-height:32px;float:left;padding:0px}
.large{display:inline-block;font-size:20px;font-weight:500;height:54px;line-height:54px;float:left;padding:0px 20px}
.icon-only{font-family:'SignifyLite';font-weight:100;font-size:18px;margin:0px;padding:0px;line-height:28px;height:34px;display:inline-block;float:left}
/* GREEN BUTTON*/
.btn_green{display:inline-block;cursor:pointer;padding:0px 10px;margin-bottom:20px;text-align:center;font:bold 14px/150% "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;color:#fff;text-decoration:none;border-radius:5px;text-shadow:0px 1px 2px rgba(0, 0, 0, 0.90);border:1px solid #3d6b00;box-shadow:inset 0 1px 0 #dfff48;moz-box-shadow:inset 0 1px 0 #dfff48;-webkit-box-shadow:inset 0 1px 0 #dfff48;background:#b0d039;background:-moz-linear-gradient(top, #b0d039 0%, #8CC53F 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d039), color-stop(100%,#8CC53F));background:-webkit-linear-gradient(top, #b0d039 0%,#8CC53F 100%);background:-o-linear-gradient(top, #b0d039 0%,#8CC53F 100%);background:-ms-linear-gradient(top, #b0d039 0%,#8CC53F 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d039', endColorstr='#8CC53F',GradientType=0 );background:linear-gradient(top, #b0d039 0%,#8CC53F 100%)}
.btn_green:hover{background:#91ad29;background:-moz-linear-gradient(top, #91ad29 0%, #385e00 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#91ad29), color-stop(100%,#385e00));background:-webkit-linear-gradient(top, #91ad29 0%,#385e00 100%);background:-o-linear-gradient(top, #91ad29 0%,#385e00 100%);background:-ms-linear-gradient(top, #91ad29 0%,#385e00 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ad29', endColorstr='#385e00',GradientType=0 );background:linear-gradient(top, #91ad29 0%,#385e00 100%);color:#fff}
.btn_green:active{background:#8CC53F}
/*end new style for button*/
/*contact page*/
.contact-us{margin:10px 0 0}
/*.contact-us .ws-grid-3{width:190px;display:inline;float:left;margin:60px 0 0 20px;position:relative}*/
.contact-us .ws-grid-3{width:190px;display:inline;float:left;margin:60px 0 0 90px;position:relative}
h2.title{border-bottom:1px solid #CCC;font-size:12px;font-weight:bold;color:#8cc53f;height:30px;line-height:30px;padding-bottom:2px;text-shadow:1px 1px 0 #fff;text-transform:uppercase}
h2.title span{color:#666666}
.module-content{padding-left:3px}
.ws-block{margin:0 0 40px 0}
.contact-ua p{margin:0 0 15px}
#ws_gmap{border-bottom:4px solid #ccc}
#contactform{margin:0;width:480px;float:left}
#contactform .captch span{font-size:16px;font-weight:bold;font-style:italic}
#contactform .form{text-align:left;font-size:18px;font-weight:normal;color:#666}
#contactform select.text{margin-bottom:10px;width:223px}
#contactform #result{color:#8CC53F;float:right;font-style:italic;font-weight:bold;height:30px;margin:15px 0 5px 0;width:240px}
#contactform .message{}
#contactform textarea.text{width:452px}
#contactform img.loading-img{padding:5px 3px}
#contactform input#submit{background:none repeat scroll 0 0 #8CC53F;border:1px solid #999;cursor:pointer;color:#FFF;font-size:18px;padding:5px 10px;text-transform:lowercase}
#contactform .contact_line{float:left;margin:0 15px 0 0}
#contactform, #contactform input, #contactform select, #contactform textarea{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#contactform input, #contactform select, #contactform textarea{border:1px solid #999;font:100% Helvetica,sans-serif;margin:0 0 10px;padding:6px 5px;vertical-align:top}
#contactform input:focus, #contactform select:focus, #contactform textarea:focus{background:#f9f9f9;border:1px solid #8cc53f}
#contactform select:focus{border-radius:5px 5px 0 0}
/*enn contact page*/
#ws-contact .mail{text-decoration:none;border-bottom:1px solid}
#ws-contact .mail:hover, #ws-contact .mail:active, #ws-contact .mail:focus{border-bottom:none;color:#8CC63F}
.ws-adress{background:url('../images/adress.png') no-repeat scroll 0 0 transparent;height:38px;margin:-10px 10px 0 0;overflow:hidden;text-indent:9999px;width:60px}
/*ticket*/
.ws-ticket-bs{padding:16px 10px;border:5px solid transparent;border-radius:10px 10px 10px 10px;box-shadow:0 0 3px #999 inset;height:385px;float:left;width:195px}
.column_one_third_p{float:left;width:245px}
.ws-ticket-title{text-align:center;height:40px}
.ticket-img{height:315px}
.ticket-img b{display:block;margin:8px 0 0;position:relative}
.ticket-button .readon{float:none;width:132px}
/*end ticket*/
/*filter table*/
.ws-service table, .ws-service td, .ws-service th{border:solid 1px silver;color:#666;padding:5px;font-size:8pt}
.ws-service table{border-collapse:collapse}
.ws-service table tr{background-color:#eee}
.ws-service table td, .ws-service table th{border:1px solid #fff}
.ws-service th{background-color:#333;color:#fff;font-size:0.85em}
.filtering{background-color:light-gray}
#service-center{width:900px}
#jqtf_filters{list-style:none}
#jqtf_filters li{display:inline-block;position:relative;float:left;margin-bottom:20px}
#quickfind{width:480px;border:1px solid #ccc}
.ws-service hr{margin-top:20px;border:1px dotted #eee;width:900px}
#linkmap{margin-left:20px;font-size:12px}
.sc{width:154px}
.psc{width:127px}
.brend{width:90px}
.adress{width:140px}
/*end filter table*/
#zoombox iframe, #zoombox img{border:none}
#zoombox .zoombox_mask, #fadeinbox .fade_mask{background-color:#000;position:fixed;width:100%;z-index:9997;height:100%;top:0;left:0}
#zoombox .zoombox_container{position:absolute;z-index:9998}
#zoombox .relative{position:relative}
#zoombox .zoombox_prev{position:absolute;top:0;left:0;width:50%;height:100%;cursor:pointer;filter:alpha(opacity=0);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-moz-opacity:0;opacity:0}
#zoombox .zoombox_prev:hover{filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;opacity:1}
#zoombox .zoombox_next{position:absolute;top:0;right:0;width:50%;height:100%;filter:alpha(opacity=0);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-moz-opacity:0;opacity:0}
#zoombox .zoombox_close, #zoombox .zoombox_next, #zoombox .zoombox_prev{cursor:pointer}
#zoombox .multimedia .zoombox_next, #zoombox .multimedia .zoombox_prev{display:none}
#zoombox .zoombox_next:hover{filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;opacity:1}
#zoombox .zoombox_gallery{position:fixed;z-index:9999;bottom:-60px;left:0;right:0;text-align:center;filter:alpha(opacity=85);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);-moz-opacity:0.85;opacity:0.85;cursor:pointer;width:auto;background-color:#050505;height:60px;overflow:hidden;display:none}
#zoombox .zoombox_gallery img{height:50px;padding:5px;filter:alpha(opacity=30);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);-moz-opacity:0.3;opacity:0.3}
#zoombox .zoombox_gallery img:hover, #zoombox .zoombox_gallery img.current{filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;opacity:1}
#zoombox_loader{background:url('../images/zoombox/loader.png') no-repeat left top;position:absolute;height:40px;width:40px;cursor:pointer;top:50%;left:50%;margin:-20px 0 0 -20px;z-index:110}
.zoombox .zoombox_container{background:#000;color:#666;-moz-box-shadow:0px 0px 10px #000;-webkit-box-shadow:0px 0px 10px #000;-o-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 10px #000;-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000;-o-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000}
.zoombox .content{background:#000}
.zoombox .zoombox_title{color:#FFF;position:absolute;right:-1px;top:-22px;-moz-text-shadow:1px 1px #000;-webkit-text-shadow:1px 1px #000;-o-text-shadow:1px 1px #000;text-shadow:1px 1px #000;-moz-text-shadow:1px 1px #000;-webkit-text-shadow:1px 1px #000;-o-text-shadow:1px 1px #000;text-shadow:1px 1px #000}
.zoombox .zoombox_close, #hodos .ws-close{background:url('../images/zoombox/close.png') no-repeat;width:30px;height:30px;position:absolute;left:-15px;top:-15px}
#zoombox.zoombox .zoombox_next{background:url('../images/zoombox/next.png') no-repeat right center}
#zoombox.zoombox .zoombox_prev{background:url('../images/zoombox/prev.png') no-repeat left center}
.lightbox .zoombox_container{background:#FFF;margin-left:-30px;padding:10px 10px 37px;color:#666}
.lightbox .zoombox_close{background:url('../images/zoombox/lightclose.gif') no-repeat left top;width:66px;height:22px;top:auto;position:absolute;right:12px;bottom:6px}
.lightbox .zoombox_title{text-align:left}
.lightbox .zoombox_next{background:url('../images/zoombox/lightnext.gif') no-repeat right 50px}
.lightbox .zoombox_prev{background:url('../images/zoombox/lightprev.gif') no-repeat left 50px}
#zoombox.lightbox .zoombox_gallery{left:10px !important;right:10px;bottom:36px}
.prettyphoto .zoombox_container{border:10px solid #0B0A0A;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px 10px 10px 10px;background:#FFF;padding:10px 10px 37px;margin-left:-20px;color:#797979}
.prettyphoto .zoombox_title{text-align:left}
.prettyphoto .zoombox_close{background:url('../images/zoombox/ppsprite.png');width:27px;height:24px;top:auto;position:absolute;right:6px;bottom:8px}
.prettyphoto .zoombox_next{background:url('../images/zoombox/ppnext.png') no-repeat right center}
.prettyphoto .zoombox_prev{background:url('../images/zoombox/ppprev.png') no-repeat left center}
.prettyphoto .multimedia .zoombox_next, .prettyphoto .multimedia .zoombox_prev{display:none}
#zoombox.prettyphoto .zoombox_gallery{left:10px !important;right:10px;bottom:36px}
.darkprettyphoto .zoombox_container{-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px 10px 10px 10px;background:#0C0C0C;padding:10px 10px 37px;margin-left:-30px;color:#828282}
.darkprettyphoto .zoombox_title{text-align:left}
.darkprettyphoto .zoombox_close{background:url('../images/zoombox/ppsprite.png');width:27px;height:24px;top:auto;position:absolute;right:2px;bottom:6px}
.darkprettyphoto .zoombox_next{background:url('../images/zoombox/ppnext.png') no-repeat right center}
.darkprettyphoto .zoombox_prev{background:url('../images/zoombox/ppprev.png') no-repeat left center}
.darkprettyphoto .multimedia .zoombox_next, .darkprettyphoto .multimedia .zoombox_prev{display:none}
#zoombox.darkprettyphoto .zoombox_gallery{left:10px !important;right:10px;bottom:36px}
.simple .zoombox_container{background:#000}
.simple .zoombox_title{color:#FFF;position:absolute;left:-1px;top:-22px;-moz-text-shadow:1px 1px #000;-webkit-text-shadow:1px 1px #000;-o-text-shadow:1px 1px #000;text-shadow:1px 1px #000;-moz-text-shadow:1px 1px #000;-webkit-text-shadow:1px 1px #000;-o-text-shadow:1px 1px #000;text-shadow:1px 1px #000}
#zoombox.simple .zoombox_next{background:url('../images/zoombox/simplenav.png') no-repeat -20px center;filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;opacity:1;right:-20px;width:20px}
#zoombox.simple .zoombox_next:hover{background-position-x:left}
#zoombox.simple .zoombox_prev{background:url('../images/zoombox/simplenav.png') no-repeat -40px center;filter:alpha(opacity=100);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-moz-opacity:1;opacity:1;left:-20px;width:20px}
#zoombox.simple .zoombox_prev:hover{background-position-x:-60px}
.simple .zoombox_prev{background:url('../images/zoombox/ppprev.png') no-repeat left center}
.simple .zoombox_close{background:url('../images/zoombox/simpleclose.png') no-repeat;width:30px;height:30px;position:absolute;top:0;right:-10px}
#zoombox.simple .multimedia .zoombox_next, #zoombox.simple .multimedia .zoombox_prev{display:block}
/*end zoombox*/
a.more-lang{background:url('../images/ws-all-sprite-icon.png') no-repeat scroll 0 -446px transparent;color:#D2D3D6;display:block;font-size:10px;height:16px;padding:0 0 0 14px;position:absolute;right:0;text-decoration:none;top:29px;width:77px;z-index:50}
a.more-lang:hover, a.more-lang:active, a.more-lang:focus{background-position:0 -430px;color:#999}
#active_language a:hover{background:none !important;border-radius:0;color:#8cc53f !important;cursor:default}
ul#lang-switch:before{background:url('../images/arrow.png') no-repeat scroll 73px 0px;content:"";top:-10px;position:absolute;left:0;right:0;height:10px}
ul#lang-switch{background:#444;border:1px solid #666;border-radius:5px;display:block;position:absolute;right:3px;top:54px;width:95px;list-style:none outside none;margin:0;z-index:1000}
#lang-switch li{font-size:11px}
#lang-switch li a{border-top:1px solid #666;display:block;padding:2px 0 2px 12px;border-bottom:1px solid #333}
#lang-switch li a:hover{background:url('../images/arrow.png') no-repeat scroll 65px -19px #656565;color:#FFFFFF;text-decoration:none}
#lang-switch li:first-child a{border-top:none;border-radius:4px 4px 0 0}
#lang-switch li:last-child a{border-bottom:none;border-radius:0 0 4px 4px}

/* all menu */

.ws-li-menu-act{background-position:0 -11px;width:2px;height:36px} 
.ws-li-menu-span{background-position:0 -49px;width:2px;height:36px} 
.ws-menu-active{background-position:0 -87px;width:2px;height:36px} 
.ws-menu-center-act{background-position:0 -125px;width:1px;height:36px} 
#ws-mainmenu{top:-4px}
#wsp_menu{position:relative;z-index:999}
div.wsp_menu_wapper div.ws_roundedcenter,div.wsp_menu_wapper div.ws_roundedcenter li.level0 a:hover{}
ul.wsp_menu_sub ul li.current a{background:none repeat scroll 0 0 #333333 !important}
ul.wsp_menu li ul li.active, ul.wsp_menu li ul li.active:active, ul.wsp_menu li ul li.active:hover, ul.wsp_menu li ul li.active:focus{background:none}
li.level1 a.activews_link{background:#333;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px #000 inset;color:#999}
ul.wsp_menu:before, ul.wsp_menu:after{background:url('../images/ws-menu-sprite.png') no-repeat top left;content:"";position:absolute;top:0;height:36px;width:4px}
ul.wsp_menu:before{background-position:0 -201px;left:-4px}
ul.wsp_menu:after{background-position:0 -239px;right:-4px}
ul.wsp_menu{margin:0 auto;float:left;height:36px;position:relative;background:url('../images/ws-menu-sprite.png') repeat-x scroll 0 -163px transparent;display:block}
ul.wsp_menu div.wsp_nav ul.wsp_menu_sub:after,ul.wsp_menu li div.wsp_nav div.wsdrop-top:after{clear:both;content:".";display:block;height:0;visibility:hidden}
ul.wsp_menu li{margin:0;padding:0;float:left;display:block;background:none;position:relative}
ul.wsp_menu li+li{background:url('../images/ws-menu-sprite.png') no-repeat scroll left -277px transparent}
ul.wsp_menu li+li+li+li+li+li a{background:none}
ul.wsp_menu li a, ul.wsp_menu li .nolink{margin:0;padding:10px 25px;background:url('../images/ws-menu-sprite.png') no-repeat scroll right -315px transparent;display:block;font-weight:bold;line-height:normal;text-decoration:none;text-shadow:-0.1px -0.1px 1px #231F20}
ul.wsp_menu li .nolink{cursor:default}
ul.wsp_menu a{color:#FFF}
ul.wsp_menu li a.active, li.level0 a.activews_link{color:#999}
ul.wsp_menu li div.wsp_nav div.wsp_nav{margin-left:195px}
div.wsp_nav ul.wsp_menu_sub, div.wsp_nav ul.wsp_menu_sub li{width:195px}
ul.wsp_menu div.wsp_nav ul.wsp_menu_sub{background-color:#000;border-radius:5px}
.wsp_menu_sub li a:hover, .wsp_menu_sub li a:active,.wsp_menu_sub li a:focus{color:#8CC53F !important}
ul.wsp_menu li:hover,ul.wsp_menu li.sfhover,ul.wsp_menu li.havechildsfhover,ul.wsp_menu li.havechild-activesfhover{background:url('../images/ws-menu-sprite.png') repeat-x scroll 0 -87px transparent;box-shadow:0 0 10px #333 inset}
ul.wsp_menu li.active,ul.wsp_menu li.active:hover,ul.wsp_menu li.active:active,ul.wsp_menu li.active:focus{background:url('../images/ws-menu-sprite.png') repeat-x scroll 0 -11px transparent}
ul.wsp_menu ul li, ul.wsp_menu ul li:hover, ul.wsp_menu ul li:focus{background:none;box-shadow:none}
ul.wsp_menu > ul{clear:both;padding:0;margin:0}
div.wsp_menu_wapper ul.wsp_menu li{float:left;margin:0;padding:0;position:relative;text-align:left}
.wsp_title img{margin:0 10px 0 0}
ul.wsp_menu li div.wsp_nav{position:absolute}
ul.wsp_menu li div.wsp_nav ul li div.wsp_nav{top:0 !important}
ul.wsp_menu li div.wsp_nav div.wsdrop-main:before{background:url('../images/ws-menu-sprite.png') 15px 0 no-repeat;content:"";height:8px !important;display:block !important;_display:none;*width:200px;width:40px;position:absolute;top:0}
.wsp_menu li .wsp_menu_sub .wsdrop-main:before{background:none !important;content:"";height:8px !important;display:block !important;_display:none;*width:0px;width:0px}
ul.wsp_menu li div.wsp_nav ul div.wsdrop-top{background:none;height:0}
ul.wsp_menu li div.wsp_nav ul li div.wsdrop-main{margin-left:8px}
ul.wsp_menu li div.wsp_nav div.wsdrop-main{background:transparent url('../images/sub_bg.png');margin:8px 0 0;padding:3px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
div.wsp_nav ul{list-style:none;margin:0;display:block;text-align:left;position:static}
div.wsp_nav ul li{position:relative;z-index:9999;background:none;float:left}
div.wsp_nav li a,div.wsp_nav li a:link,div.wsp_nav li a:visited,div.wsp_nav li a,div.wsp_nav li .nolink{text-transform:none;font-size:100%;padding:6px;display:block}
div.wsp_nav li a:hover,div.wsp_nav li a:active,div.wsp_nav li a:focus{background:#333;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px #000 inset}
div.clr{clear:both;height:0px;visibility:hidden}
ul.wsp_menu div.cols2 ul.wsp_menu_sub li{margin:2px;border:none}
ul.wsp_menu li.level0 div.wsp_menu_sub ul.wsp_menu_sub{_clear:both;_border:5px solid #666}
ul.wsp_menu li.level0 div.wsp_menu_sub ul li div.wsmenu_mod ul li{_float:none}
ul.wsp_menu_sub li div.wsp_nav{position:absolute;top:0;left:0;z-index:9999}
div.wsmenu_mod ul,div.wsmenu_mod ul li{position:relative !important;margin:0 !important}
ul.wsp_menu div.wsmenu_mod h3{background-image:url('../images/main_bg.png');background-position:left center;padding:8px;margin:0}
ul.wsp_menu div.wsmenu_mod table,ul.wsp_menu  div.wsmenu_mod tr{margin:0;padding:0;width:100%}
ul.wsp_menu div.wsmenu_mod td{padding:6px 0}
ul.wsp_menu div.wsmenu_mod .pollstableborder td,ul.wsp_menu  div.wsmenu_mod  .poll thead td{border-bottom:1px solid #888}
ul.wsp_menu div.wsmenu_mod .poll td .button{background:#666 url('../images/main_bg.png') center center;font-weight:bold;border:1px solid #222;color:#fff;padding:3px 10px}
div.wsmenu_mod ul li a{font-weight:normal !important}
ul.wsp_menu_sub li div.wsmenu_mod ul li{padding:0;margin:0 !important}
ul.wsp_menu .vt_desc{font:80% normal;font-style:italic;opacity:0.6;filter:alpha(opacity=60);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);text-transform:none}
div.wsp_menu_wapper ul.wsp_menu li div.wsp_nav,div.wsp_menu_wapper ul.wsp_menu li:hover div.wsp_nav div.wsp_nav, div.wsp_menu_wapper ul.wsp_menu li:hover div.wsp_nav:hover div.wsp_nav div.wsp_nav,div.wsp_menu_wapper ul.wsp_menu li.sfhover div.wsp_nav div.wsp_nav, div.wsp_menu_wapper ul.wsp_menu li.sfhover div.wsp_nav.sfhover div.wsp_nav div.wsp_nav{left:-999em}
div.wsp_menu_wapper ul.wsp_menu li:hover div.wsp_nav, div.wsp_menu_wapper ul.wsp_menu li:hover div.wsp_nav li:hover div.wsp_nav, div.wsp_menu_wapper ul.wsp_menu li:hover div.wsp_nav li:hover div.wsp_nav li:hover div.wsp_nav,div.wsp_menu_wapper ul.wsp_menu li.sfhover div.wsp_nav, div.wsp_menu_wapper ul.wsp_menu li.sfhover div.wsp_nav li.sfhover div.wsp_nav, div.wsp_menu_wapper ul.wsp_menu li.sfhover div.wsp_nav li.sfhover div.wsp_nav li.sfhover div.wsp_nav{left:auto}
div.ws_roundedleft{display:block}
div.wsp_menu_wapper ul.wsp_menu li.ws_fancy_bg{position:absolute;top:-2px;z-index:100;float:left;left:0;display:block;padding:0 !important}
/**/
.wsmenu_mod ul li{height:auto !important}
.wsmenu_mod .h4{border-bottom:1px solid #999;display:block;color:#8CC53F;font-size:110%;font-weight:bold;margin:4px 5px;padding:0 0 4px}
.wsmenu_mod .menu{display:block !important;visibility:visible !important}
.wsmenu_mod ul, .wsmenu_mod ul li{position:relative !important;margin:0 !important}
/*Vertical layout*/
.wsp_menu_wapper_ver ul div.wsp_nav{position:absolute;left:-999em;padding:0;margin:0;margin-left:220px;top:0 !important}
.wsp_menu_wapper_ver ul div.wsp_nav ul{display:block;z-index:11000;clear:left;margin:0;text-align:left;position:static}
.wsp_menu_wapper_ver ul li,.wsp_menu_wapper_ver ul div.wsp_nav ul li{position:relative}
.wsp_menu_wapper_ver ul div.wsp_nav ul,.wsp_menu_wapper_ver ul div.wsp_nav ul li{position:static;height:100%}
.wsp_menu_wapper_ver div.ws_roundedcenter{background:none !important}
.wsp_menu_wapper_ver div.ws_roundedcenter li.level0{border-bottom:1px solid #999}
div.wsp_menu_wapper_ver ul.wsp_menu li div.wsp_nav div.wsdrop-top{background:url('../images/arrow1.png') left 8px no-repeat;height:50px !important;display:block !important;_display:none;width:8px !important;float:left;position:absolute;top:0}
div.wsp_menu_wapper_ver ul.wsp_menu li div.wsp_nav div.wsdrop-main{margin-left:8px;_margin-left:0px;float:right}
/* end all menu */
/* main slider */
html{height:100%}
/*.black-b{background:#000}
.custom-b{background:#74af42}*/
#home-newproduct{width:900px}
#wshometab{border-bottom:1px solid #F2F2F2;height:460px;min-width:1000px;position:relative;top:-26px;width:auto !important}
#wshometab:after{background:url(../images/bg-shadow.png) no-repeat scroll center bottom transparent;content:"";display:block;height:23px;margin:0 auto;width:980px}
.inner{width:960px;margin:0 auto}
.ws-obertka{position:relative;z-index:3;overflow:hidden;min-height:460px;zoom:1}
.mainvisual-slider{position:absolute;z-index:3;right:59.3%;margin-left:-480px;color:#fff;font-size:12px;line-height:16px;white-space:nowrap;bottom:12px}
.no-absolute{bottom:auto;left:auto;margin-top:404px 0 0 0;z-index:60}
.mainvisual-slider a{color:#fff;padding:1px 4px}
.mainvisual-slider.black-links a{color:#222}
.mainvisual-slider.black-links a:hover, .mainvisual-slider a:hover, .mainvisual-slider.toddler_right .left:hover{color:#8cc53f}
.mainvisual-slider.custom-links.toddler_left .left, .mainvisual-slider.custom-links.toddler_left .right,
.mainvisual-slider.toddler_left.custom-links .left, .mainvisual-slider.toddler_left.custom-links .right{background:#FFF;border-radius:5px;opacity:0.6}
.mainvisual-slider.custom-links.toddler_left .right,
.mainvisual-slider.toddler_left.custom-links .right{color:#000}
.mainvisual-slider.custom-links.toddler_left .right:hover,
.mainvisual-slider.toddler_left.custom-links .right:hover{opacity:0.9;-moz-opacity:0.9;filter:alpha(opacity=9)}
.black-links.mainvisual-slider.toddler_left .left, .black-links.mainvisual-slider.toddler_left .left:hover, .black-links.mainvisual-slider.toddler_right .right, .black-links.mainvisual-slider.toddler_right .right:hover{color:#444;cursor:default}
.mainvisual-slider.toddler_left .left, .mainvisual-slider.toddler_left .left:hover,
.mainvisual-slider.toddler_right .right, .mainvisual-slider.toddler_right .right:hover{color:#555;cursor:default}
.mainvisual-slider .slider-ico{width:50px;height:18px;margin:0 4px;background:url(../images/slider.png) no-repeat 0 -24px;display:inline-block;position:relative;top:5px;zoom:1;font-size:1px;cursor:pointer}
.mainvisual-slider .slider-ico i{width:18px;height:21px;top:-2px;margin:0;background:url(../images/slider.png) no-repeat 0 0;display:block;position:absolute;cursor:pointer;font-size:1px;cursor:pointer}
.mainvisual-newitems .mainvisual-slider .slider-ico i{right:0;cursor:pointer}

.ws-obertka .ar, .ei-slider .ar{position:absolute;z-index:91;top:50%;margin-top:-50px;overflow:hidden;width:22px;height:97px;left:50%;background:url(about:blank)}
.ws-obertka .ar:hover, .ei-slider .ar:hover{text-indent:0}
.ws-obertka .ar:hover i, .ei-slider .ar:hover i{margin-top:-97px}
.ws-obertka .ar i, .ei-slider .ar i{position:absolute;background:url(../images/ws-arrow.png) no-repeat 0 0;width:22px;height:194px}
.ws-obertka .arrow-right, .ei-slider .arrow-right{margin-left:452px}
.ws-obertka .arrow-left, .ei-slider .arrow-left{margin-left:-480px}
.ws-obertka .arrow-left i, .ei-slider .arrow-left i{background-position:-22px 0}

.ws-obertka .navi{position:absolute;z-index:2;left:0;width:100%;text-align:center;bottom:10px}
.ws-obertka .navi a{display:inline-block;margin:0 6px 0 0;text-align:left;width:18px;height:18px}
.ws-obertka .navi a i{background:url(../images/slider.png) no-repeat -37px -2px;position:absolute;width:18px;height:18px}
.ws-obertka .navi a:hover i{background-position:-57px -2px}
.ws-obertka .navi .selected i, .ws-obertka .navi a.selected:hover i{background-position:-18px -1px}
.body-p1280 .ws-obertka .arrow-left, .body-p1280 .mainvisual-slider{margin-left:-576px}
.body-p1344 .ws-obertka .arrow-left, .body-p1344 .mainvisual-slider{margin-left:-672px}
.body-p1280 .ws-obertka .arrow-right{margin-left:548px}
.body-p1344 .ws-obertka .arrow-right{margin-left:644px}
#home-news{position:relative;z-index:2;width:100%}
#home-news div.a{background:white}
#home-news .day-pricer .h2{margin-left:30px}
#home-news .day-pricer .left{margin-right:270px;padding-left:30px}
#home-news .day-pricer .right{padding-left:0;background:transparent}
#home-news .bt_extrasmall{color:white!important}
#home-news .day-pricer{margin-left:95px;margin-top:45px}
#home-news .a{display:block;height:460px;width:100%;background-repeat:no-repeat;background-position:50% 50%;position:absolute}
.visual-newitems{position:absolute;top:-9999px;left:-9999px}
.mainvisual-newitems .visual-main{display:none}
.mainvisual-newitems .visual-newitems{position:relative;top:auto;left:auto}
.mainvisual-newitems .nv-shd{display:none}
.mainvisual-newitems .mainvisual-slider a{color:#444}
.visual-newitems{padding:20px 0 0;margin:0 auto}
.package{margin:0 auto;width:900px;padding:40px 0 0 0}
.package h3{margin:10px auto 30px}
/* -- / main visual --*/
.ws-obertka-promo{position:relative;min-height:630px;zoom:1;margin-bottom:30px;color:#222}
#item_presentation-promo{position:absolute;left:0;right:0;top:147px}
#home-news-promo{position:relative;width:100%}
#home-news-promo .a{display:block;height:630px;width:100%;background-repeat:no-repeat;background-position:50% 0;position:absolute}
.ws-obertka-promo p{color:#222222;font-size:15px;line-height:21px;margin-bottom:15px}
.ws-obertka-promo h3{font:23px/27px 'HouschkaRoundedMedium';margin-bottom:15px}
.ws-obertka-promo .blue{line-height:22px}
.slide_box{font-family:Helvetica, sans-serif}
.contenttitle,.contenttitle:link,.contenttitle:visited,.box_content_title{font-size:14px;font-weight:bold;text-decoration:none}
.box_content{font-size:11px}
.box_content,.box_content_title{padding:5px 5px;line-height:normal}
.boxgrid{float:left;overflow:hidden;margin:0 10px 0 0;position:relative;text-align:left;padding:0}
.boxgrid:before{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll left -465px transparent;bottom:0;content:" ";display:block;height:22px;left:-20px;position:absolute;width:160px}
.boxgrid img{position:relative;top:0;left:0;border:0;padding:0;width:120px}
.boxcaption{float:right;width:165px}
.readmore_box{font-size:80%;text-transform:uppercase;color:#f90 !important;padding:2px 10px;background:#222;border:1px solid #333;float:right;display:block;text-decoration:none;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:3px 0}
.readmore_box:hover{color:#08e !important}
/* end main slider */
#ws-header{position:relative}
#ws-slide{top:-26px;overflow:hidden;position:relative;margin:0 auto}
#page #page-wrap ul li:before, .ws-list-jobs li:before, .tabs-nav li:before, .ws-list-work li:before{background:none !important;margin:0 !important;width:0 !important;height:0 !important;float:none !important}
.ws-green li:before, #page ul li:before{content:"";float:left;margin:6px 10px 0 16px;background:url('../images/ws-all-sprite-icon.png') 0 -6px no-repeat;width:6px;height:6px}

.gertuik{text-align:left}
.poxupih_center{border-radius:7px;box-shadow:0 0 7px #444}
.poxupih_top, .poxupih_btm, .poxupih_1t, .poxupih_rt, #poxupih_tl, #poxupih_bl, #poxupih_tr, #poxupih_br{background:none !important}
iframe .idea_ctg{padding:3px 10px 8px !important}
.item251 span img{margin:-5px 5px 0 -12px}
.justpargr a{float:left;margin:0 32px}
.just5 h3{font-size:12px;font-weight:bold;margin:0 0 5px 0}
.just5 .list-block{float:left;margin:20px 20px 0 0;width:280px}
.ws-player{background:#fff;border-radius:5px;box-shadow:0 0 5px #ccc;height:450px;width:880px;padding:10px;position:relative;margin:-190px auto 20px;z-index:6}
.ws-player2{width:900px;position:relative;height:315px;margin:0 auto 20px;z-index:6}
.ws-circles{text-align:center}
.ws-circles img{height:222px;margin:0 25px;width:222px}
.layout-play{float:left}
#ws-contentwrap100{float:left;width:100%;margin:0 0 20px 0;clear:both}
#ws-contentwrap80{float:left;width:81%;margin:0 0 20px 0}
/*news module*/
.ws-player2 h2{color:#8CC53F;font-size:200%;font-weight:bold;margin:10px 0 30px;text-align:center;text-shadow:1px 1px 1px #ccc}
#ws-home2 .ws_art{float:left}
#ws-home2 .ws_header{font-size:18px;font-weight:normal;height:35px;line-height:18px;margin:0;text-align:left}
#ws-home2 .ws_header a{color:#5a5a5a}#ws-home2 .ws_header a:hover{color:#999}
#ws-home2 .ws_info{color:#999;font-size:9px;margin:0}
#ws-home2 .ws_arts > .ws_art > div{padding:0 25px 0 0!important}
#ws-home2 .ws_arts > .ws_art + .ws_art > div{padding:0 10px!important}
#ws-home2 .ws_arts > .ws_art+.ws_art+.ws_art > div{padding:0 0 0 25px!important}
#ws-home2 .ws_art{text-align:justify}
.ws_mp_mode1-home{float:right;position:relative}
.ws_mp_mode1-home .ws_arts,
.ws_mp_mode1-home .ws_art{margin:0 0 10px 0;overflow:hidden}
.ws_mp_mode1-home .ws_top_interface{float:right;margin-top:-28px}
.ws_mp_mode1-home .ws_top_interface .next,
.ws_mp_mode1-home .ws_top_interface .prev{background:transparent url('../images/nsp_portal_mode_1_interface.png') no-repeat 0 -28px;cursor:pointer;display:block;height:14px;text-indent:-999em;width:11px}
.ws_mp_mode1-home .ws_top_interface .next{background-position:0 -42px}
.ws_mp_mode1-home .ws_top_interface .next:hover{background-position:0 -14px}
.ws_mp_mode1-home .ws_top_interface .prev:hover{background-position:0 0}
/* basic CSS rules */
.ws_mp_mode1-news h4.ws_header{font-size:18pt;line-height:38px;margin:0}
.ws_mp_mode1-home .ws_art h4.ws_header{font-size:130%;margin:2px 0}
.ws_mp_mode1-home .ws_art h4.ws_header a{}
.ws_mp_mode1-home .ws_art h4.ws_header a:hover{}
.ws_mp_mode1-home .ws_art img.ws_image{}
.ws_mp_mode1-home .ws_art p.ws_text, .ws_mp_mode1-news .ws_art p.ws_text{float:none}
.ws_mp_mode1-home .ws_art p.ws_text a{}
.ws_mp_mode1-home .ws_art p.ws_text a:hover{}
.ws_mp_mode1-home .ws_art p.ws_info{font-size:11px;color:#b3b6b7;margin:5px 0}
.ws_mp_mode1-news .ws_art p.ws_info{font-size:11px;color:#b3b6b7;margin:0}
.ws_mp_mode1-home .ws_art p.ws_info a{}
.ws_mp_mode1-home .ws_art p.ws_info a:hover{}
.ws_mp_mode1-home .ws_art .tleft, .ws_mp_mode1-news .ws_art .tleft{text-align:left}
.ws_mp_mode1-home .ws_art .tright, .ws_mp_mode1-news .ws_art .tright{text-align:right}
.ws_mp_mode1-home .ws_art .tcenter, .ws_mp_mode1-news .ws_art .tcenter{text-align:center}
.ws_mp_mode1-home .ws_art .tjustify, .ws_mp_mode1-news .ws_art .tjustify{text-align:justify}
.ws_mp_mode1-home .ws_art .fleft, .ws_mp_mode1-news .ws_art .fleft{float:left}
.ws_mp_mode1-home .ws_art .fright, .ws_mp_mode1-news .ws_art .fright{float:right}
.ws_mp_mode1-home .ws_art .fnone, .ws_mp_mode1-news .ws_art .fnone{clear:both;width:100%;float:none}
.ws_mp_mode1-home .readon_class.left, .ws_mp_mode1-news .readon_class.left,
.ws_mp_mode1-home .readon_class.right, .ws_mp_mode1-news .readon_class.right,
.ws_mp_mode1-home .readon_class.center, .ws_mp_mode1-news .readon_class.center{clear:both}
.ws_mp_mode1-home .readon_class.left, .ws_mp_mode1-news .readon_class.left{float:left}
.ws_mp_mode1-home .readon_class.right, .ws_mp_mode1-news .readon_class.right{float:right}
.ws_mp_mode1-home .readon_class.center, .ws_mp_mode1-news .readon_class.center{display:inline;float:none}
/* make element unvisible */
.ws_mp_mode1-home .unvisible{height:1px;left:-10000px;overflow:hidden;position:absolute;top:auto;width:1px}
/* font-size classes */
.ws_fs80{font-size:80%}.ws_fs90{font-size:90%}.ws_fs100{font-size:100%}.ws_fs110{font-size:110%}.ws_fs120{font-size:120%}
.ws_fs130{font-size:130%}.ws_fs140{font-size:140%}.ws_fs150{font-size:150%}.ws_fs160{font-size:160%}.ws_fs170{font-size:170%}
.ws_fs180{font-size:180%}.ws_fs190{font-size:190%}.ws_fs200{font-size:200%}
 
/* --------------------------------------------------------------tooltips*/
.tipsy{font-size:10px;position:absolute;padding:5px;z-index:100000}
.tipsy-inner{background-color:#000;color:#FFF;max-width:200px;padding:5px 8px 4px 8px;text-align:center}
/* Rounded corners */
.tipsy-inner{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
/* Uncomment for shadow */
/*.tipsy-inner{box-shadow:0 0 5px #000000;-webkit-box-shadow:0 0 5px #000000;-moz-box-shadow:0 0 5px #000000}*/
.tipsy-arrow{position:absolute;width:0;height:0;line-height:0;border:5px dashed #000}
/* Rules to colour arrows */
.tipsy-arrow-n{border-bottom-color:#000}
.tipsy-arrow-s{border-top-color:#000}
.tipsy-arrow-e{border-left-color:#000}
.tipsy-arrow-w{border-right-color:#000}
  
.tipsy-n .tipsy-arrow{top:0px;left:50%;margin-left:-5px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-nw .tipsy-arrow{top:0;left:10px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-ne .tipsy-arrow{top:0;right:10px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-s .tipsy-arrow{bottom:0;left:50%;margin-left:-5px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-sw .tipsy-arrow{bottom:0;left:10px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-se .tipsy-arrow{bottom:0;right:10px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-e .tipsy-arrow{right:0;top:50%;margin-top:-5px;border-left-style:solid;border-right:none;border-top-color:transparent;border-bottom-color:transparent}
.tipsy-w .tipsy-arrow{left:0;top:50%;margin-top:-5px;border-right-style:solid;border-left:none;border-top-color:transparent;border-bottom-color:transparent}
.ws-rest li{list-style:decimal inside none}
span.rest{color:#8CC53F;display:block;float:left;font-size:20px;font-weight:bold;margin:60px 50px}
.ws-green-rest{float:left;margin:0;width:350px}
.ws-green-rest li{background:none repeat scroll 0 0 #8CC53F;border-radius:5px;color:#FFF;list-style:decimal inside none;margin:10px 0;padding:8px}
.ws-list-jobs li, .ws-list-work li{background:url(../images/bullet-grey.gif) no-repeat 5px 5px;padding-left:20px;padding-bottom:2px}
.ws-list-jobs li{margin:0 0 0 -3px}.ws-list-work li{margin:0 0 0 10px}
.ws-servicelist{float:left;margin:0}
.ws-servicelist li{margin:14px 0}
.item166ws_link:before{background:url("../images/ws-menu-sprite.png") no-repeat scroll 0 -49px transparent;content:"";display:block;float:left;height:25px;left:0;margin:2px 8px 2px 2px;position:relative;right:0;width:25px}
/* end add new style*/
.banneritem:first-child{margin:0 18px 18px 0}
.banneritem{padding:0;float:left;margin:0;border:none}
#ws-hse{font-size:12px}
.ws-nhtable{height:28px}
#ws-podzagolovok{color:#666;line-height:0px;font-size:9pt}
.ws-text{color:#666;line-height:1px;font-size:11px;padding-bottom:10px;padding-top:5px;position:absolute}
.linkmap, .morkva{color:#333;text-decoration:underline}
.linkmap:hover, linkmap:active, linkmap:focus, .morkva:hover, .morkva:active, .morkva:focus{color:#8CC53F;text-decoration:none}
.ws-linkmap{color:#555;text-decoration:none}
.ws-linkmap:hover, .ws-linkmap:active, .ws-linkmap:focus{color:#000}
a{color:#8CC53F;text-decoration:none}
a:hover, a:active{color:#656565;text-decoration:none}
a img{border:none}
a.readonb, a.readoneb, a.readmoreb{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -399px transparent;width:158px;height:31px;color:#fff;padding:7px 21px}
a.readonb:hover, a.readonb:focus, a.readonb:active, a.readoneb:hover, a.readoneb:focus, a.readoneb:active, a.readmoreb:hover, a.readmoreb:focus, a.readmoreb:active{color:#fff;text-decoration:none;background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -366px transparent}
a.readon, a.readone, a.readmore{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -399px transparent;display:block;float:right;font:18px/10px bold Helvetica,sans-serif;height:13px;padding:8px 13px;width:158px}
a.readon:hover, a.readon:focus, a.readon:active, a.readone:hover, a.readone:focus, a.readone:active, a.readmore:hover, a.readmore:focus, a.readmore:active{color:#000;text-decoration:none;background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -366px transparent}
a.readon:hover, a.readon:focus, a.readon:active{color:#000;text-decoration:none}
.button{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -399px transparent;font-size:110%;font-weight:bold;height:31px;width:158px;border:none;color:#fff;padding:3px 0 6px;cursor:pointer}
.button:hover, .button:active, .button:focus{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -366px transparent;width:158px;height:31px;color:#000}
/* style image */
.ws-shadow-image{background:#8cc53f}
.ws-shadow-image, .ws-serv-img{border:1px solid transparent;border-radius:5px;box-shadow:0 0 5px #999;padding:5px}
.ws-shadow-image:hover, .ws-serv-img:hover{border:1px solid #999;box-shadow:0 0 5px #ccc}
/* end style image */
/*pagebreak*/
.articlePage{float:left;padding:8px 0 16px 5px;width:675px}
.ws-store #wsfbvk, .blog-jobs #wsfbvk, .ws-service #wsfbvk{clear:right}
.leading-jobs{border-top:1px solid #E6E7E7}
.ws-border{border:1px solid #E6E7E7;height:50px;margin:13px 6px 0;padding:5px;position:relative;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;-moz-box-shadow:0px 0px 3px #ccc;-webkit-box-shadow:0px 0px 3px #ccc;box-shadow:0px 0px 3px #ccc}
.ws-border:active, .ws-border:focus, .ws-border:hover{border:1px solid #ccc}
.ws-border .ws-moreinfo, .ws-border .ws-credit{float:right;position:relative}
.ws-border .ws-address{float:left;margin:10px 0 0 5px;width:430px}
.ws-border span{background:none repeat scroll 0 0 #8CC53F;border-radius:8px 8px 8px 8px;color:#000;display:block;font-weight:bold;padding:2px 6px 3px;position:absolute;text-align:center;top:-10px}
/*.ws-store{border-top:1px solid #E6E7E7;margin:40px 0 0}*/
.ws-credit{height:18px;width:260px}
#map .ws-credit{height:18px;width:100%}
.ws-credit a.alfa, .ws-credit a.russian, .ws-credit a.platinum, .ws-credit a.delta{background:url(../images/ws-all-sprite-icon.png) repeat scroll 0 0 transparent;display:block;float:left;text-indent:-99999px;height:16px;margin:0 5px 0 0;width:16px}
.ws-credit .nocredit{cursor:default;opacity:0.2}
.ws-credit a.alfa{background-position:-39px -18px}
.ws-credit a.russian{background-position:-39px -54px}
.ws-credit a.platinum{background-position:-39px -36px}
.ws-credit a.delta{background-position:-39px 0}
.ws-credit a.vacancy:after{background:url(../images/ws-all-sprite-icon.png) repeat scroll -18px -2px transparent;content:"";display:block;float:right;height:15px;margin:-2px 0 0 5px;width:18px}
.ws-credit a.vacancy{float:right;margin:2px 0 0 10px}
.bank-magazine{margin-left:190px!important}
.bank-magazine-ua{margin-left:280px!important}
#wspbstart-link{cursor:pointer}
/*end pagebreak*/
/* open map */
article, aside, figure, footer, header, hgroup,
menu, nav, section{display:block}
#page-wrap{width:900px;margin:0 auto;font:14px Georgia, serif;color:#222}
#page-wrap  h2{color:#222;margin:0 0 15px 0;font:bold 26px Helvetica, Arial, Sans-Serif !important;letter-spacing:-1px;text-shadow:0 1px 0px rgba(255,255,255,0.3)}
#page-wrap  h3{margin:0 0  1px 0;font:bold 14px Helvetica, Arial, Sans-Serif !important;letter-spacing:-1px}
#page-wrap ul{list-style:none;width:240px;float:left;margin:0 }
#page-wrap ul li{padding:6px 10px;width:800px;float:left;position:relative;z-index:20}
#page-wrap ul li:hover, #page-wrap ul li.hover{background:#8cc53f url(../images/shad.png) 118px 0 repeat-y}
#page-wrap ul li:hover h3, #page-wrap ul li.hover h3{color:#656565;text-shadow:0 1px 0px rgba(255,255,255,0.3)}
#content{width:300px}
.longdesc{display:none}
/*end open map*/
/* sprite */
.ws-bullet{background:url(../images/ws-sprite.png) no-repeat;background-position:0 -18px;width:5px;height:5px}
/* all sprite */
.ws-bullet-about-grey{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 0 transparent;width:4px;height:4px} 
.ws-bullet-grey{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -14px transparent;width:5px;height:5px} 
/* end all sprite */
/* featureCarousel */
.featureCarousel{position:relative}
.featureCarousel img{border:0}
.featureCarousel .feature{position:absolute !important;top:-1000px;left:-1000px;border:3px solid #8CC63F;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-khtml-border-radius:5px;-moz-box-shadow:0px 0px 15px #666;-webkit-box-shadow:0px 0px 15px #666;box-shadow:0px 0px 5px #666}
.featureCarousel .feature >div{position:absolute;bottom:0px;left:0px;background-color:black;width:100%}
.featureCarousel .feature >div p{margin:0;padding:5px;font-weight:bold;font-size:12px;color:white}
.featureCarousel .blipsContainer{position:relative;color:white;top:-20px;padding:0;margin:0 auto;width:210px}
.featureCarousel .blipsContainer .blip{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -325px transparent;margin:3px;height:12px;width:12px;color:white;text-align:center}
.featureCarousel .blipsContainer .blipSelected{background-position:0 -337px}
/* end featureCarousel */
#ws-vrstyle{margin-top:18px;line-height:18px}
.inputbox{font-size:100%;border:2px solid #8cc53f;border-radius:4px;color:#333;padding:6px;width:250px}
form{padding:0 0 10px 0;width:100% }
.contact_email, .contact_mesage{width:40%}
label.invalid{background:url(../images/ws-all-sprite-icon.png) no-repeat scroll 0 -21px transparent;width:16px;height:16px;color:#F00;font-weight:700;padding-left:20px}
.inprezin{height:32px;background:url(../images/primary/ws-back-input.png);width:100%;position:relative}
.inprezin-text{height:187px;background:url(../images/primary/ws-back-input-text.png);width:100%;position:relative}
/*input{padding:5px 0 5px 5px;border:none;background:none;width:95%;height:22px;z-index:1}*/
input:focus{outline:none}
.rightcorner{width:15px;height:32px;background:url(../images/primary/ws-back-inputright.png);position:absolute;top:0;right:-1px;z-index:2}
.rightcorner-text{width:14px;height:187px;background:url(../images/primary/ws-back-inputright-text.png);position:absolute;top:0;right:-1px;z-index:2}
#contact_text{margin:6px;overflow:hidden}
.ws-contact-shadow{height:9px;width:100%;vertical-align:top}
.inputfile{width:360px;height:32px;background:url(../images/primary/ws-back-input-file.png);overflow:hidden;position:relative}
.inputfile input{height:200px;position:absolute;top:0;right:0;cursor:pointer;font-size:200px;opacity:0}
div.wstypocss_left_box_lightgray{width:100%;margin:0 0 35px;background-position:left top;background-repeat:repeat-y}
div.wstypocss_left_box_lightgray div.wstypocss_lefttop_box_lightgray{position:relative;width:100%;height:20px;background-position:left top;background-repeat:no-repeat}
div.wstypocss_left_box_lightgray div.wstypocss_lefttop_box_lightgray span.wstypocss_topright_box_lightgray{display:block;position:relative;height:20px;background-position:right top;background-repeat:no-repeat}
div.wstypocss_left_box_lightgray div.wstypocss_right_box_lightgray{position:relative;background-position:right top;background-repeat:repeat-y;padding:10px 20px 1px 25px;margin:-1px 0 0 0}
div.wstypocss_left_box_lightgray div.bottomleft_box_lightgray{background-position:left bottom;background-repeat:no-repeat}
div.wstypocss_left_box_lightgray span.bottomright_box_lightgray{display:block;position:relative;height:20px;background-position:right top;background-repeat:no-repeat}
div.wstypocss_left_box_lightgray_two{width:100%;margin:0 0 30px;background-position:left top;background-repeat:repeat-y}
div.wstypocss_left_box_lightgray_two div.wstypocss_lefttop_box_lightgray{position:relative;width:100%;height:20px;background-position:left top;background-repeat:no-repeat}
div.wstypocss_left_box_lightgray_two div.wstypocss_lefttop_box_lightgray span.wstypocss_topright_box_lightgray{display:block;position:relative;height:20px;background-position:right top;background-repeat:no-repeat}
div.wstypocss_left_box_lightgray_two div.wstypocss_right_box_lightgray{position:relative;background-position:right top;background-repeat:repeat-y;padding:10px 20px 1px 25px;margin:-1px 0 0 0}
div.wstypocss_left_box_lightgray_two div.bottomleft_box_lightgray{background-position:left bottom;background-repeat:no-repeat}
div.wstypocss_left_box_lightgray_two span.bottomright_box_lightgray{display:block;position:relative;height:20px;background-position:right top;background-repeat:no-repeat}
div.wstypocss_left_box_lightgray{background-image:url(../images/primary/lightgray/left.png);background-color:#fff}
div.wstypocss_left_box_lightgray div.wstypocss_lefttop_box_lightgray{background-image:url(../images/primary/lightgray/topleft.png)}
div.wstypocss_left_box_lightgray div.wstypocss_lefttop_box_lightgray span.wstypocss_topright_box_lightgray{background-image:url(../images/primary/lightgray/topright.png)}
div.wstypocss_left_box_lightgray div.wstypocss_right_box_lightgray{background-image:url(../images/primary/lightgray/right.png)}
div.wstypocss_left_box_lightgray div.wstypocss_right_box_lightgray div.wstypocss_text_box_lightgray{color:#000}
div.wstypocss_left_box_lightgray div.bottomleft_box_lightgray{background-image:url(../images/primary/lightgray/bottomleft.png)}
div.wstypocss_left_box_lightgray span.bottomright_box_lightgray{background-image:url(../images/primary/lightgray/bottomright.png)}
div.wstypocss_left_box_lightgray_two{background-image:url(../images/primary/lightgray/left.png);background-color:#fff}
div.wstypocss_left_box_lightgray_two div.wstypocss_lefttop_box_lightgray{background-image:url(../images/primary/lightgray/topleft.png)}
div.wstypocss_left_box_lightgray_two div.wstypocss_lefttop_box_lightgray span.wstypocss_topright_box_lightgray{background-image:url(../images/primary/lightgray/topright.png)}
div.wstypocss_left_box_lightgray_two div.wstypocss_right_box_lightgray{background-image:url(../images/primary/lightgray/right.png)}
div.wstypocss_left_box_lightgray_two div.wstypocss_right_box_lightgray div.wstypocss_text_box_lightgray{color:#000}
div.wstypocss_left_box_lightgray_two div.bottomleft_box_lightgray{background-image:url(../images/primary/lightgray/bottomleft.png)}
div.wstypocss_left_box_lightgray_two span.bottomright_box_lightgray{background-image:url(../images/primary/lightgray/bottomright.png)}.ws-contentmaps{clear:left;float:left;margin:1px 0 0}
.ws-moreinfo a{display:block;float:left;height:48px;text-indent:-99999px;width:48px;margin:0 10px 0 10px }
div.ws-contact .cdtypocss_text_box_white{height:48px}
.cdtypocss_text_box_white .ws-moreinfo{float:right}
.cdtypocss_text_box_white .ws-address{color:#666;float:left;font:normal 15px/24px sans-serif}
.ws-position:hover, .ws-position:active, .ws-position:focus{background-position:0 0}
.ws-position{background:url(../images/primary/ws-note-sprite.png);background-position:-49px 0}
.ws-info:hover, .ws-info:active, .ws-info:focus{background-position:-98px 0}
.ws-info{background:url(../images/primary/ws-note-sprite.png);background-position:-147px 0;cursor:pointer}
.ws-shop-photo:hover, .ws-shop-photo:active, .ws-shop-photo:focus{background-position:-196px 0}
.ws-shop-photo{background:url(../images/primary/ws-note-sprite.png);background-position:-245px 0}
/*modules*/
.module-news-top, .module-news, .module-news-custom{margin:0 0 0 35px}
.module-news-top{padding:20px 0 0 0}
.module-news{padding:40px 0 0 0}
.module-news-custom{padding:80px 0 0 0}
.moduletablestore li{float:left;padding:0 5px 20px 0}
.moduletablestore a{border-top:1px solid #c0ff03;background:#3b9c0e;background:-webkit-gradient(linear, left top, left bottom, from(#98ca00), to(#3b9c0e));background:-moz-linear-gradient(top, #98ca00, #3b9c0e);padding:5px 10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:rgba(0,0,0,1) 0 1px 0;-moz-box-shadow:rgba(0,0,0,1) 0 1px 0;box-shadow:rgba(0,0,0,1) 0 1px 0;text-shadow:rgba(0,0,0,.4) 0 1px 0;color:#fff;font-size:12px;font-weight:bold;font-family:Helvetica, Arial, Sans-Serif;text-decoration:none;vertical-align:middle}
.moduletablestore a:hover{border-top-color:#0d0d0d;background:#0d0d0d;color:#999}
.moduletablestore a:active{border-top-color:#000;background:#999}
.ws-openers{float:right;width:460px;text-align:right;margin:-30px 0 10px 10px}
.ws-openers p{font-size:150%;color:#8cc53f}
.moduletable-count{}.moduletable-open{}
.module-services{margin-top:55px}
.module-services a{color:#FFF;margin:0 0 0 17px;font-size:88%}
.module-services .item90 a, .item91 a{color:#FFF;margin:0 0 0 17px;font-size:125%}
.module-services a:hover, .module-services a:active, .module-services a:focus, .module-services li.active a{color:#666}
.module-services li{background:url(../images/primary/ws-separator.png) no-repeat bottom left;padding:6px 0 6px 0}
.module-services li.active a{margin:0 0 0 17px;border-bottom:1px dotted}
.module-services div{background:url(../images/primary/ws-module-top.png) no-repeat top left;padding-top:3px}
.module-services div div{background:url(../images/primary/ws-module-body.png) repeat-x;width:170px}
.module-services div div div{background:url(../images/primary/ws-module-bottom.png) no-repeat bottom left;padding-bottom:3px}
html, body, form, fieldset, #ws-logo, #ws-headerwrap, #ws-footerwrap, #ws-user-left, #ws-user-right, #ws-userbox, #ws-slideshow, img, .blog_more ul, h2.contentheading, .contentheading, ul.pagination li, #ws-usertop, .ws-footer-menu, .ws-socials{margin:0;padding:0}
body{background:#FFF;color:#666;font-family:Helvetica,sans-serif;font-size:13px;line-height:16px;overflow-y:scroll;width:100%}
body.contentpane{color:#1d1d1d;font-size:1.2em;line-height:1.3em;margin:0;margin:1em 2em;width:auto}
body.fs1{font-size:9px}
body.fs2{font-size:10px}
body.fs3{font-size:11px}
body.fs4{font-size:12px}
body.fs5{font-size:13px}
body.fs6{font-size:14px}
:focus{outline:none}
small, .small, .smalldark, .article-meta, .modifydate, .img_caption p, .site-slogan{font-size:92%}
.ws_proliskiimg{float:right;margin:-25px 60px 15px}
.ws_aboutimg{float:right;margin:-25px 20px 10px 10px}
.wscontactinfo{margin:0 5px;height:28px;vertical-align:text-bottom;width:28px}
.ws_countimg a img{opacity:0.25}
.ws_countimg a:hover img{opacity:1}
h1{font-size:200%}
h2{font-size:100%}
h3{font-size:150%}
h4{font-size:145%}
h5{font-size:145%}
h1.componentheading, .componentheading, .blog_more strong, h1{font-family:Helvetica,sans-serif;font-size:18pt;font-weight:bold;color:#8CC63F}
h2{font-size:18pt;font-weight:normal}
.ws-store h2, .ws-service h2, p.htitle{font-size:18pt;font-weight:bold;color:#8cc63f}
p.htitle{margin:14px 0}
p, pre, blockquote, ul, ol, h1, h2, h3, h6{padding:0}
.wsmodify{background-color:#FFF;color:#8CC53F;display:block;font-weight:300;left:49px;letter-spacing:0.7px;padding:0 32px 0 20px;position:absolute}
h4.wsmodify{top:-34px}
h5.wsmodify{top:-39px}
h4.arhiveheading .createdate{padding:0;margin:0 }
ul{list-style:none}
th{font-weight:bold;padding:8px;text-align:left}
fieldset{border:none;padding:10px 5px}
fieldset a{font-weight:bold}
fieldset.input, fieldset.remind{padding:0;background:none;width:30%}
fieldset #remember{width:20px;height:0px}fieldset.remind{width:60%}
legend{font-weight:bold;background:#FFF}
hr{border-bottom:1px solid #E6E7E7;border-top:none;border-left:none;border-right:none;width:425px;position:absolute}
br{}form label{cursor:pointer}
input, select, textarea, .inputbox, .button{font-family:Helvetica,sans-serif;font-size:100%}
* html .button{/*IE 6*/padding:0 5px !important}
*+html .button{/*IE 7*/padding:0 10px !important}
.ws-print-photo{top:-33px}
.ws-photobookimgleft, .ws-photobookimg{border:4px solid #8CC53F;float:left;margin:15px 15px 15px 0}
.ws-photobookimg{margin:15px}
.ws-photobookimgleft:hover, .ws-photobookimgleft:active, .ws-photobookimgleft:focus, .ws-photobookimg:hover, .ws-photobookimg:active, .ws-photobookimg:focus{border:4px solid #000}
.newphone .items-row .span6{float:left;width:49%}
.newphone .items-row .span6 .column-1{padding:0 15px 0 0}
.newphone article .row-separator{border-bottom:1px solid #E6E7E7;border-top:none;border-left:none;border-right:none;display:block;width:425px}

.item-readmore{background:url(../images/ws-all-sprite-icon.png) no-repeat left -465px transparent;display:inline-block;width:400px}
.sectiontableheader{padding:4px 8px;font-weight:bold}
.sectiontableheader a, .sectiontableheader a:hover, .sectiontableheader a:active, .sectiontableheader a:focus{color:#FFF}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td{padding:8px}
td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2{padding:4px}
table.contentpane{border:none;width:100%}
table.contentpaneopen-about{border:none;border-collapse:collapse;border-spacing:0;font-size:16px;line-height:19px}
table.contentpaneopen{border:none;border-collapse:collapse;border-spacing:0}
table.contenttoc{margin:0 0 10px 10px;padding:0;width:30%;float:right}
table.contenttoc td{background:url(../images/bullet.gif) no-repeat 12px 8px;padding:1px 5px 1px 20px}
table.contenttoc th{border-bottom:1px solid #CCC;padding:0 0 3px;text-indent:5px}
table.poll{border-collapse:collapse;padding:0;width:100%}
table.pollstableborder{border:none;padding:0;text-align:left;width:100%}
table.pollstableborder img{vertical-align:baseline}
table.pollstableborder td{border-collapse:collapse;border-spacing:0;padding:4px !important;background:none}
table.pollstableborder tr.sectiontableentry1 td{background:#EEE}
table.searchintro{padding:10px 0;width:100%}
table.searchintro td{padding:5px!important}
.blog_more{margin:15px 0 0;padding:10px 0 0;background:url(../images/dot.gif) repeat-x top}
.blog_more strong{display:block;margin:0 0 5px;text-transform:uppercase}
.blog_more ul li{background:url(../images/bullet.gif) no-repeat 4px 8px;margin:0;padding:0 0 0 12px}
.category{font-weight:bold}
.componentheading{font-size:1.5em;margin:0 0 10px;padding:5px 0}
h2.contentheading, .contentheading{line-height:48px}
.contentheading-about{font-weight:300}
table.blog .contentheading{font-size:18pt}
td.contentheading{line-height:48px}
table.contentpaneopen, table.contentpaneopen-about, table.contentpane, table.blog{width:100%}
.contentpagination{margin:5px auto 10px;padding:0;font-size:18px;color:#514e4e;overflow:hidden;clear:both}
ul.pagination{margin:5px auto 0;padding:10px 0 0;color:#514e4e;overflow:hidden;clear:both}
ul.pagination li{background:none;display:inline}
ul.pagination li span{padding:2px 5px}
ul.pagination a{padding:2px 3px;text-decoration:none;color:#514e4e}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus{background:#d8d235;color:#FFF}
.smalldark{text-align:left}
div.syndicate div{text-align:center}
.article-toolswrap{display:block;margin:0 0 10px;padding:0;position:relative}
.article-tools{display:block;padding:0 10px 0 0}
.article-meta{width:70%;float:left;color:#514e4e}
.createby{}.createdatearticle{float:right;font-size:11px}
.createdate{float:right;font-size:10px;color:#ccc;padding:10px 0 0;margin:5px;line-height:24px}
.modifydate{width:100%;display:block;color:#ff7c06;margin:15px 0}
.article-section{padding-left:6px;margin-left:5px}
.article-section a{color:#514e4e}
.article-category a{color:#514e4e}
div.buttonheading{position:absolute;top:4px;right:10px}
.buttonheading img{margin:0 0 0 5px;border:0;float:right;background:none !important}
#ws-headerwrap, #ws-footerwrap, #ws-headerline{width:100%}
#ws-header, #ws-container, #ws-footer, #ws-line{width:900px;margin:0 auto;padding:0;clear:both}
#ws-headerwrap{background-color:#000;display:block;height:100px;margin-bottom:26px}
#ws-headerline{background:url(../images/ws-header-shadow.png) repeat-x transparent;height:45px}
#ws-line{padding:6px 0}
.ws-line-left{float:left}
.ws-line-right{float:right}
.wsp_menu_address, .menu-top-right{margin:0}
.wsp_menu_address a, .menu-top-right a{color:#707070;font-weight:50}
.wsp_menu_address a:hover, .menu-top-right a:hover{color:#8cc53f}
.menu-top-right li{float:left;margin:0 10px 0 0}
.item271{margin:0 !important}
#ws-logo{float:left;width:120px}
#ws-logo a:before{content:"";float:left;background:url(../images/ws-all-sprite-icon.png) 0 -203px no-repeat;width:120px;height:52px;margin-top:29px} 
#ws-logo a{display:block;height:80px;position:relative}
.ws-shopping{color:#8CC53F;font-size:14pt;font-weight:bold}
#ws-price-container{width:732px;position:relative;margin:0 auto}
#ws-price-container a, .ws-float, .ws-price-product-text, #ws-price-container p{float:left}
.ws-plus-product-title, .ws-price-product-title{color:#8CC63F;font-size:22px;font-weight:bold}
.ws-plus-product-title p, .ws-plus-product-title a, .ws-price-product-title p, .ws-price-product-title a{padding-bottom:20px;margin:0 auto;text-align:center;width:244px}
.ws-price-product-title a{font-weight:normal}
.ws-plus-product-title a, .ws-price-product-title a{color:#4D4D4D;font-size:18px;height:22px}
.ws_about_report{font-family:Helvetica,sans-serif;font-size:12px;font-weight:300}
.ws-about-layot{margin-bottom:42px;padding-top:3px}

.-about .ws-list-ol{font-size:100%;color:#666}
.-about .ws-list-jobs li{margin:0 0 0 3px;padding-left:27px}
.ws-list-ul, .ws-list-ol{list-style:none outside none;font-family:Helvetica,sans-serif;font-weight:400;color:#333}
.ws-list-ul{font-size:110%;padding:0 !important;margin:14px 0 2px}
.ws-list-ul li{background:url(../images/bullet-about-grey.gif) no-repeat 9px 9px;margin-left:36px !important;padding:0 0 11px 30px !important}
.ws-list-ol{padding:0 80px 0 0 !important;font-size:90%}
.ws-list-ol ul li, .ws-list-ol ul li+li{background:none;padding:0 !important}
.ws-list-ol li{background:url(../images/num/ws-num1.png) no-repeat 5px 2px;padding:0 0 0 30px !important}
.ws-list-ol li+li{background:url(../images/num/ws-num2.png) no-repeat 5px 2px}
.ws-list-ol li+li+li{background:url(../images/num/ws-num3.png) no-repeat 5px 2px}
.ws-list-ol li+li+li+li{background:url(../images/num/ws-num4.png) no-repeat 5px 2px}
.ws-list-ol li+li+li+li+li{background:url(../images/num/ws-num5.png) no-repeat 5px 2px}
.ws-list li, .ws-list li+li, .ws-list li+li+li, .ws-list li+li+li+li, .ws-list li+li+li+li+li,
.newphone ul li{background:url(../images/bullet-grey.gif) no-repeat 5px 5px;margin-left:13px;padding-left:20px}
#ws-list-green{list-style-image:url(../images/bullet-green.gif);margin-left:13px}
.ws-contact-dep{margin:0 auto;width:566px;color:#58585A;font-size:18pt;line-height:28px;padding:17px 0 0}
.ws-contact-map{float:right;padding:37px 0 0}.ws-contactlist{float:left;list-style:none;color:#666}
.ws-contactlist li{margin-top:17px;line-height:19px}
#ws-com{line-height:28px}
.divlayout #ws-contentwrap{float:right}
#ws-colwrap{float:right;width:19%;overflow:hidden}
.divlayout #ws-colwrap{float:left}
#ws-usertop{width:100%;clear:both;overflow:hidden}
.ws-usertop div.module{padding-bottom:10px}
#ws-user-left{float:left;overflow:hidden}
#ws-user-right{float:right;overflow:hidden}
#wsevents{padding-bottom:15px}
.ws-button{line-height:24px;font-weight:bold}
#ws-userbox{padding:0 0 15px;clear:both}
.ws-userbox{float:left;margin-bottom:10px}
#ws-slideshow{width:900px;padding:0 0 10px;clear:both}
.clear{clear:both}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden}
* html >body .clearfix{display:block;width:100%}
* html .clearfix{height:1%}

@media all and (max-width:480px){
#ws-header, #ws-container, #ws-footer, #ws-line, .ws-player2, .wrap, .item-readmore, .article_separator{width:300px}
.ws-player2{height:auto}
#wsp_menu, #icon-widgets, #ws-tool, .createdate{display:none}
h2.contentheading, .contentheading{line-height:24px}
#page img{width:100%;height:100%}
.menu-home{padding:0}
.ws-copyleft, .ws-socials{text-align:inherit}
.socialtips{float:left;margin:0 10px 0 0}
#ws-home2 .ws_art{width:100% !important}
#ws-home2 .ws_arts > .ws_art + .ws_art > div{padding:0 !important}
#ws-home2 .ws_arts > .ws_art + .ws_art + .ws_art > div{padding:0 !important}

.b-promo{height:auto !important}
.promo-right, .promo-center, .promo-left{clear:both;position:relative !important;left:0 !important;float:left}
/*.b-promo .sh-in .img-wide{display:none !important}*/
.article_column{width:100%}
a.readon, a.readone, a.readmore{width:132px}
.article_separator{margin:0 0 20px 0}
.item-page p{text-align:justify}
.wrap{margin:0 auto !important;width:300px !important}
}