.icon-48-ringooregions,.icon-48-ringooregion,.icon-48-ringoocitys,.icon-48-ringoocity,.icon-48-ringoosuperprices,.icon-48-ringoosuperprice,.icon-48-ringoobanners,.icon-48-ringoobanner{padding-left:60px !important}
.icon-48-ringooregions{background-image:url(../images/l_ringooregions.png)}
.icon-48-ringooregion{background-image:url(../images/l_ringooregions.png)}
.icon-48-ringoocitys{background-image:url(../images/l_ringoocitys.png)}
.icon-48-ringoocity{background-image:url(../images/l_ringoocitys.png)}
.icon-48-ringoosuperprices{background-image:url(../images/l_ringoosuperprices.png)}
.icon-48-ringoosuperprice{background-image:url(../images/l_ringoosuperprices.png)}
.icon-48-ringoobanners{background-image:url(../images/l_ringoobanners.png)}
.icon-48-ringoobanner{background-image:url(../images/l_ringoobanners.png)}

#map{border:1px solid #DDD;width:500px;height:300px;margin:10px 0 10px 0;-webkit-box-shadow:#AAA 0px 0px 15px}
#legend{font-size:12px;font-style:italic}
.ui-helper-hidden-accessible{display:none}